[2017-07-08 06:23] microshine opened #1 "Auto-updater"
We will need something like this.

<img width="672" alt="1499494902" src="https://user-images.githubusercontent.com/7333669/27983191-1890f3f2-63bf-11e7-8e83-7ef2f8ad2ab2.png">
<img width="660" alt="1499494888" src="https://user-images.githubusercontent.com/7333669/27983192-18917b4c-63bf-11e7-9fac-19c0d7292556.png">

[2017-07-11 06:53] microshine opened #2 "Open log file from context menu"

[2017-07-11 08:33] #2 closed, assigned to nobody

[2017-07-30 06:12] rmhrisk opened #3 "Add support for enabling and disabling logging"
At this time logging is always on, this will create a huge amount of disk noise and use up space.

We need to make logging off by default and enable-able in the context menu of the application.

Logging
     {Enabled|Disabled}
     VIew log

This way the user can enable logging when they need help.

Additionally, the log should either get cleared when the application closes or use the same name ev

[2017-07-30 06:17] rmhrisk opened #4 "At runtime check for self-signed SSL certificate and if one does not exist create and make trusted"
Until browsers are updated to treat localhost as truly local and by the virtue of that allow HTTP based communication with the local server to work with Safari, Firefox and Edge we need to use SSL in addition to https://github.com/PeculiarVentures/2key-ratchet.

It is best to keep this in the runtime and out of the installer.

We can at start-up see if we have a time valid certificate for SSL in o

[2017-07-30 06:18] rmhrisk opened #5 "Improve the design of the pin prompt"
Right now the pin prompt doesn't look like a regular pin prompt. It would be better to make it look more like the Windows pin prompt.

This consistency will help users understand what is happening.

![image](https://user-images.githubusercontent.com/1619279/28751126-402fb636-74b4-11e7-80a8-d163ba18beff.png)

[2017-07-30 06:25] rmhrisk opened #6 "Add support for changing password on tokens."
People working with tokens will need to change their passwords from time to time, it would be a nice value added a feature if we could also support this via Fortify.

We would do this by adding this option in our test application here:
![image](https://user-images.githubusercontent.com/1619279/28751476-7ec25544-74bd-11e7-9515-095d4c8eb54c.png)

[2017-07-30 06:25] rmhrisk opened #7 "Add support for unblocking tokens"
People working with tokens will need to unblock their tokens from time to time, it would be a nice value added a feature if we could also support this via Fortify.

[2017-07-30 06:30] rmhrisk opened #8 "Fortify should check if it is running when invoked and if so exist gracefully"
We only want one copy of the application to run at any given time, to do this we need to ensure the application when invoked can detect if it is already running and not start a new copy.

[2017-07-30 06:31] rmhrisk opened #9 "Move the test application to the Fortify repository"
It is more related to the fortify application than it is the webcrypto-local client, it should be moved to this repository.

[2017-07-30 06:40] rmhrisk opened #10 "Add support for removing all token content"
The SafeNet client has an option to remove all token content. This is useful in testing we may want to add a similar option to the test application so that it can be used as an alternative.

[2017-07-30 06:43] rmhrisk opened #11 "Add a "Tools" link to the context menu"
We have a nice application for working with smart cards in our test application. We should include it as a link in the context menu of the application as "Tools".

We can ship the sample in the installer and use the default browser to open the sample.

[2017-07-30 06:46] rmhrisk opened #12 "Add copyright to the about box"
Copyright (c) 2017, Peculiar Ventures.
All rights reserved.

[2017-07-30 06:48] rmhrisk opened #13 "If the about box is open but not topmost make it topmost"
Right now the about box can get lost. We should make it topmost if it is already open and not visible if someone chooses "About" from the context menu.

[2017-07-30 06:51] rmhrisk opened #14 "Pressing enter in password field should submit if password has been provided"
Right now you must click on submit for the password, it should submit when you press enter if a password has been entered.

[2017-07-30 06:51] rmhrisk opened #15 "Password field should have focus when created"
Right now the dialog shows but the password field does not have the focus right away, you must manually click on it. This should not be needed.

[2017-07-30 06:52] rmhrisk opened #16 "Need to optimize the installer to minimize footprint"
Right now the OSX installer is around 100mb compressed and 300MB installed. 99% of that is Electron but we should review what we put on the box and make sure it is needed, if not remove it from the package.

[2017-07-30 06:54] rmhrisk opened #17 "On OSX the application is not set to auto-start as part of the install"
So that this will work for users without having to install it we need to make sure we set the application to autostart.

[2017-07-30 06:59] rmhrisk opened #18 "Include the git branch in the version details"
Right now we always show 1.0 in the about dialog, this value should come from the package.json and we should probably also include the git branch id.

For example:
1.0.1234567889

This way we always know what version is running.

[2017-07-31 15:46] #11 closed, assigned to nobody

[2017-07-31 15:47] #12 closed, assigned to nobody

[2017-07-31 15:47] rmhrisk opened #19 "Make about box background color same as the logo"
![image](https://user-images.githubusercontent.com/1619279/28786049-e43acca2-75cc-11e7-83f1-afa2d73cffd3.png)

[2017-07-31 16:01] #8 closed, assigned to nobody

[2017-08-01 15:18] rmhrisk opened #20 "Add logo to OSX installer"
![image](https://user-images.githubusercontent.com/1619279/28832671-fb3c29c6-7691-11e7-9aed-c68511b948ff.png)

[2017-08-06 15:26] microshine opened #21 "Mozilla trusted certificate"
To add cert to trusted list we need to update `cert8.db` which  is in `~/Library/Application Support/Firefox/Profiles`. To do this thing we need to use `certutil` from NSS binaries. [Here](https://stackoverflow.com/questions/1435000/programmatically-install-certificate-into-mozilla) is example of bash script to do it.

My current problem is that I can't start `certutil` from compiled NSS applicati

[2017-08-06 15:42] #21 closed, assigned to nobody

[2017-08-06 15:47] microshine opened #22 "Mozilla cert8.db is in an old, unsupported format"
I use `nss-3.31-with-nspr-4.15.tar.gz` and Firefox v54

__Error__
[code]

[2017-08-06 16:21] #17 closed, assigned to nobody

[2017-08-06 16:21] #15 closed, assigned to nobody

[2017-08-06 16:22] #14 closed, assigned to nobody

[2017-08-11 00:30] microshine opened #23 "Make “Close” button “OK” and add a “Cancel” button"
![image](https://user-images.githubusercontent.com/7333669/29197615-7574d2b4-7e45-11e7-8ea4-d8bd940494f3.png)

[2017-08-12 18:48] rmhrisk opened #24 "Replace default Windows installer image with Fortify Logo"

[2017-08-12 18:48] rmhrisk opened #25 "Make fortify tray icon on Windows black and white"

[2017-08-15 12:37] #22 closed, assigned to nobody

[2017-08-15 12:37] #20 closed, assigned to nobody

[2017-08-15 12:38] microshine opened #26 "Edge support"
I've got EC warnings in Edge
![image](https://user-images.githubusercontent.com/7333669/29316218-bd68db82-81cf-11e7-8010-fd10dc204ea8.png)

It's ok, because Edge crypto doesn't support EC

[2017-08-16 15:44] #26 closed, assigned to nobody

[2017-08-22 21:56] microshine opened #27 "Wrap dir path to quoters for certutil command in Windows"

[2017-08-24 04:17] #27 closed, assigned to microshine

[2017-08-24 04:17] #24 closed, assigned to nobody

[2017-08-24 20:33] microshine opened #28 "Add issuer name label to Certificate list item"
I've got 2 certificates with equal names `dosat@qtum-ico.com`, but they are from different CA

![image](https://user-images.githubusercontent.com/7333669/29687226-40f8a7d8-8924-11e7-9c95-4366a1adf4be.png)

[2017-08-24 20:41] microshine opened #29 "Use new icon for certificates with keys"
There are tow types of certificates.
1. Certificates with private key
2. Certificates without private key
We have to mark certificates which have private key

We can use icon of list item to do it like Windows does
![image](https://user-images.githubusercontent.com/7333669/29687603-a6f8d52a-8925-11e7-9429-ed18cf59d054.png)

[2017-08-26 04:27] rmhrisk opened #30 "Change logo on OSX to have clear background"
@microshine ask @apilguk for help :
![image](https://user-images.githubusercontent.com/1619279/29738620-fdc9e856-89db-11e7-9673-2019a75ff15c.png)

[2017-08-28 10:41] #28 closed, assigned to donskov

[2017-08-28 13:18] #29 closed, assigned to donskov

[2017-08-29 15:46] rmhrisk opened #31 "Update OSX version on landing page"
![image](https://user-images.githubusercontent.com/1619279/29830231-8d5b390e-8c96-11e7-9fb1-4dea3eece8cb.png)

Our min version is: OSX 10.12

[2017-08-29 15:47] rmhrisk opened #32 "Update landing page to refer to binaries stored in Github"
![image](https://user-images.githubusercontent.com/1619279/29830290-b5a4a4f4-8c96-11e7-809f-ad9352c86e21.png)

[2017-08-30 02:07] rmhrisk opened #33 "Avaliable for macOS -> Available for macOS"

[2017-08-30 02:08] rmhrisk opened #34 "© 2017. Peculiar Ventures, Inc. All rights reserved. -> © Peculiar Ventures, Inc. All rights reserved."
© 2017. Peculiar Ventures, Inc. All rights reserved.

© Peculiar Ventures, Inc. All rights reserved.

[2017-08-30 02:27] rmhrisk opened #35 "On Edge the link to expand supported smart cards shows a script error"
On fortify page in Edge to expand the supported smart card list shows a script error.

[2017-08-30 02:28] rmhrisk opened #36 "OSX 10.12 or greater"
![image](https://user-images.githubusercontent.com/1619279/29852665-3d56ff24-8cf0-11e7-9a90-07097421e01f.png)

OSX 10.12 or greater

[2017-08-30 06:42] rmhrisk opened #37 "Make sure the issuing CA we create is name constrained to 127.0.0.1"
We want to make sure we limit the issuing CAs use to localhost and delete the root CA private key so the addition of the root can not be used against the user outside that scope.

[2017-08-30 11:14] #36 closed, assigned to WorldThirteen

[2017-08-30 11:14] #35 closed, assigned to WorldThirteen

[2017-08-30 11:14] #34 closed, assigned to WorldThirteen

[2017-08-30 11:15] #33 closed, assigned to WorldThirteen

[2017-08-30 11:15] #32 closed, assigned to WorldThirteen

[2017-08-30 11:16] #31 closed, assigned to WorldThirteen

[2017-08-30 14:08] rmhrisk opened #38 "Need to add terms and services or remove link"
![image](https://user-images.githubusercontent.com/1619279/29876555-005950ec-8d52-11e7-8d39-46bcbaeb3c51.png)

[2017-08-30 14:13] #37 closed, assigned to microshine

[2017-08-30 14:45] rmhrisk opened #39 "Update github link to point to this repo"
![image](https://user-images.githubusercontent.com/1619279/29878383-419e0836-8d57-11e7-9947-ef930c4a0785.png)

[2017-08-30 14:46] rmhrisk opened #40 "FAQ is missing and link does not work"
![image](https://user-images.githubusercontent.com/1619279/29878441-628ef654-8d57-11e7-9d8a-498746a06155.png)

[2017-08-30 15:23] #39 closed, assigned to nobody

[2017-08-30 21:14] rmhrisk opened #41 ""Accept Remote Key" is not specific enough."
"Accept Remote Key" is not specific enough.

[code]

[2017-08-31 06:04] microshine opened #42 "Support list of approval keys"
- Add context item
- Add user form to manage keys (Remove, Remove all)

[2017-08-31 17:12] rmhrisk opened #43 "Add FAQ item for failure to connect"
**Fortify is running but the web application says the server is offline, what do I do?**

Web applications communicate with fortifying over a special network address known as 127.0.0.1 or localhost. Sometimes host based firewalls or proxy configurations will prevent this communication from taking place.

If you have either of these configured you can try to disable them temporarily and see if it e

[2017-08-31 21:23] microshine opened #44 "Update Name creation for Certificate and Certificate request"
Current name of Name is
[code]

we need the same variant as OpenSSL has
[code]

[2017-08-31 21:27] microshine opened #45 "Add ASN1 Null to AlgorithmIdentifier"
Most of certificates has `NULL` for `AlgorithmIdentifier` parameters (but some doesn't have it)

[code]

[2017-09-01 09:05] #43 closed, assigned to WorldThirteen

[2017-09-01 09:05] #40 closed, assigned to WorldThirteen

[2017-09-03 13:46] #45 closed, assigned to nobody

[2017-09-03 13:46] #44 closed, assigned to microshine

[2017-09-05 17:18] microshine opened #46 "Error on SSL installing"
Cannot find file by path
[code]

[2017-09-06 05:04] rmhrisk opened #47 "Add logo for supporting organization to fortify application landing page"

[2017-09-06 05:05] rmhrisk opened #48 "Create a 32bit installer for Windows"

[2017-09-12 09:08] #30 closed, assigned to microshine

[2017-09-12 09:15] #46 closed, assigned to microshine

[2017-09-12 15:40] #42 closed, assigned to microshine

[2017-09-20 17:14] microshine opened #50 "Update links v1_0_2 -> v1_0_3"
@WorldThirteen I updated `gh-pages`, don't forget to update source html

[2017-09-20 20:34] microshine opened #51 "Update PKCS#11 PIN dilog"
<img width="496" alt="1505939613" src="https://user-images.githubusercontent.com/7333669/30666133-0a0da46a-9e5c-11e7-9083-6cd00c37f7f5.png">

Use site name instead of `website`, if it's name is not empty

[2017-09-20 20:53] rmhrisk opened #52 "Add FAQ to landing page"
Why doesn't Fortify see my certificates?

It is hard to say, there is a chance Fortify is having a problem reading your smart card or token, possibly because there is no PKCS#11 library loaded for it. Another possibility is that maybe the application that uses Fortify is filtering the certificate from the list that it is displaying. Please file a bug in the Github repository with the Fortify log f

[2017-09-21 09:37] #52 closed, assigned to WorldThirteen

[2017-09-21 09:37] #50 closed, assigned to WorldThirteen

[2017-09-22 00:06] #51 closed, assigned to microshine

[2017-09-22 00:07] #47 closed, assigned to WorldThirteen

[2017-09-22 00:07] #41 closed, assigned to microshine

[2017-09-22 00:08] #23 closed, assigned to microshine

[2017-09-22 00:08] #19 closed, assigned to nobody

[2017-09-22 00:08] #16 closed, assigned to nobody

[2017-09-22 00:08] #13 closed, assigned to nobody

[2017-09-22 00:08] #9 closed, assigned to nobody

[2017-09-22 00:08] #4 closed, assigned to nobody

[2017-09-22 00:09] #1 closed, assigned to nobody

[2017-09-22 00:09] #5 closed, assigned to nobody

[2017-09-22 00:09] #3 closed, assigned to nobody

[2017-09-22 00:09] #25 closed, assigned to nobody

[2017-09-23 02:40] rmhrisk opened #53 "Add "Tokens" menu to show recognized tokens"
We should consider adding a "Tokens" menu in the context menu:
![image](https://user-images.githubusercontent.com/1619279/30769433-0123f2d8-9fcd-11e7-9c0b-d2f42b10a564.png)

That would  show the tokens that are inserted:

[code]

If the token was one that was supported selecting the token would open the FortifyApp with that provider selected. Otherwise, it would create a GitHub issue for adding su

[2017-09-23 05:27] rmhrisk opened #54 "Use blue transparent version of Fortify logo on about page."
Right now we use:
![image](https://user-images.githubusercontent.com/1619279/30770413-28882098-9fe5-11e7-90ac-de63ffb0f4e9.png)

We should instead use:
![image](https://user-images.githubusercontent.com/1619279/30770412-21f26dc4-9fe5-11e7-852f-098447b95417.png)

[2017-09-28 03:48] rmhrisk opened #55 "Fortify test application needs to try listen for provider additions and refresh error pages when providers added"
![image](https://user-images.githubusercontent.com/1619279/30948481-2dcf6b7c-a3c5-11e7-98ec-dac0cea325b3.png)

[2017-09-28 05:05] rmhrisk opened #56 "Fortify application should only show certificates where you have private key"
Users don't need to view all certificates, just those that they can do things with:

![image](https://user-images.githubusercontent.com/1619279/30950152-f282abd2-a3cf-11e7-9d6c-8ec9f495e684.png)

[2017-09-28 05:45] rmhrisk opened #57 "Limit removal of keys to those keys you created, otherwise prompt."
We can maintain metadata for each key tracking if the sessions identity was used to create the key or certificate.

We can use this to restrict which sites can use or delete a key without a tray application prompt.

[2017-09-28 08:54] #55 closed, assigned to donskov

[2017-09-28 09:29] #54 closed, assigned to donskov

[2017-09-28 23:06] microshine opened #59 "Update to v1.0.5"
@WorldThirteen I updated `gh-pages`, please sync your source with it

[2017-09-29 02:45] rmhrisk opened #60 "CTRL-A doesnt work in pin prompt"
![image](https://user-images.githubusercontent.com/1619279/30998737-8c20d0ce-a485-11e7-80bd-ea1f3ca22b35.png)

[2017-09-29 02:46] rmhrisk opened #61 "Need to check in logged in and if not trigger log-in on create CSR page."
![image](https://user-images.githubusercontent.com/1619279/30998754-b02dff78-a485-11e7-9c1d-8f0d50b04d99.png)

[code]

[2017-09-29 02:51] rmhrisk opened #62 "If token.label is empty use reader name for crypto provider"
![image](https://user-images.githubusercontent.com/1619279/30998841-2b87d892-a486-11e7-89d7-92896bc1d001.png)

[2017-09-29 02:53] rmhrisk opened #63 "Catch case when user pin not initialized"
Before a token is initialized we might get this:

[code]

When trying to log in, we should catch this and say:

[code]

[2017-09-29 03:05] rmhrisk opened #64 "Unable to generate CSR on token"
I have two tokens, both are inserted, I can generate a CSR on one of them but not on the other.

Both are SafeNet 5110's.

Both have space.

This is the error I see:
![image](https://user-images.githubusercontent.com/1619279/30999142-17d79b8c-a488-11e7-8de9-f73b1d75d3e0.png)

This was in the log:
[code]

My theory is that there is some confusion between the two tokens being present at once.

[2017-09-29 03:10] rmhrisk opened #65 "If two tokens with same label name or reader name are present add a number at the end"
![image](https://user-images.githubusercontent.com/1619279/30999287-0da7805e-a489-11e7-91f5-9be5b6b461cb.png)

[2017-09-29 03:13] rmhrisk opened #66 "Ocasionally unable to generate keys on KeyChain"
I tried generating a CSR on OSX after inserting and removing tokens a few times and I get a failure:

![image](https://user-images.githubusercontent.com/1619279/30999339-825ad0fe-a489-11e7-8cc4-820b8cd5b781.png)

When I look at the log I see:

[code]

[2017-09-29 09:14] #59 closed, assigned to WorldThirteen

[2017-09-29 20:28] rmhrisk opened #67 "Add token.name or reader name to the pin entry prompt"
We should include the name of the token or label in the pin dialog so users know which pin to use

![image](https://user-images.githubusercontent.com/1619279/31034678-f0ff559e-a519-11e7-8f10-a5eeb9daa851.png)

We can do this like this:

[code]

[2017-10-04 13:51] #62 closed, assigned to donskov

[2017-10-11 16:43] rmhrisk opened #68 "Add the ability to control if Fortify automatically starts up to tray application"
Right now when you install Fortify it makes itself automatically startup.

We should make this configurable in the tray application:

[code]

[2017-10-12 00:51] rmhrisk opened #69 "Add support for NXP J3A081 '3bf81800ff8131fe454a434f507632343143' token"
Reader name: OMNIKEY AG 3121 USB
ATR: 3BF81800FF8131FE454A434F507632343143

[code]

[2017-10-12 00:54] rmhrisk opened #70 "If a card is inserted and the middleware was installed display a message"
If someone inserts a card where we have the metadata but the libraries do not exist we should probably pop an allert.

[code]

[2017-10-12 00:55] rmhrisk opened #71 "Removing a unsupported card results in a javascript error"
I inserted a supported card but the middleware for the card was not installed, when I removed the card I saw

![image](https://user-images.githubusercontent.com/1619279/31474056-478836c8-aead-11e7-9316-5a70a0acee1f.png)

[2017-10-12 00:57] rmhrisk opened #72 "Removing a smart card reader from the machine and I get an error"
![image](https://user-images.githubusercontent.com/1619279/31474133-a96b730a-aead-11e7-9d60-349c20be3dc6.png)

[2017-10-12 21:29] #72 closed, assigned to nobody

[2017-10-12 21:29] #71 closed, assigned to nobody

[2017-10-12 22:00] #66 closed, assigned to microshine, donskov

[2017-10-13 01:04] microshine opened #73 "Update Fortify UI sorce"
@WorldThirteen I updated index.html and update.jws on gh-pages branch. Don't forget to update UI source

[2017-10-13 07:09] rmhrisk opened #74 "Use new icon for windows tray icon with blue shield and transparent background"
![image](https://user-images.githubusercontent.com/1619279/31534197-c90ded70-afaa-11e7-852e-fb9b4eb6c044.png)

[2017-10-13 09:28] microshine opened #75 "Clients cannot create issue for unsupported tokens"
![image](https://user-images.githubusercontent.com/7333669/31539617-c6826d80-b011-11e7-930e-defc4af0a68d.png)

[2017-10-13 10:21] #73 closed, assigned to WorldThirteen

[2017-10-27 19:09] microshine opened #76 "Add signature to card.json"

[2017-11-14 23:58] #76 closed, assigned to nobody

[2017-11-15 00:00] microshine opened #77 "Update to v1.0.9"
@WorldThirteen I updated gh-pages

There is a new file `packages/card.jws`

[2017-11-15 00:04] microshine opened #78 "Update Fortify download"
- detect OS
- detect OS architecture (x64 or x32)
- select specific builds

Here is script from NodeJS for OS and arch detecting https://nodejs.org/static/js/download.js

[2017-11-15 06:58] microshine opened #80 "Support CKF_PROTECTED_AUTHENTICATION_PATH"

[2017-11-15 21:04] microshine opened #81 "Show dialog on SCardEstablishContext error"
Error from npm module pcsclite

We should add dialog on this error

“It looks like the Windows Smart Card Resource Manager is not running. Use the Services snap-in to start the service.

[ ] Don’t show me this again”

[2017-11-20 05:14] rmhrisk opened #82 "Add support for more Estonian national id cards"
Reader name: SCM Microsystems Inc. SCR33x USB Smart Card Reader 0
ATR: 3BFA1800008031FE45FE654944202F20504B4903

[code]
[Smart card ATR parsing 3BFA1800008031FE45FE654944202F20504B4903](https://smartcard-atr.appspot.com/parse?ATR=3BFA1800008031FE45FE654944202F20504B4903

[2017-11-23 08:28] #82 closed, assigned to nobody

[2017-11-26 20:21] rmhrisk opened #83 "Add support for '3b7d94000080318065b0831100c883009000' token"
Reader name: Gemplus USB Smart Card Reader 0
ATR: 3B7D94000080318065B0831100C883009000

[code]

[Smart card ATR parsing 3B7D94000080318065B0831100C883009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D94000080318065B0831100C883009000)

[2017-11-29 16:46] apilguk opened #87 "Auto release and updating landing"
We need an automation way to releasing fortify app and updating download links on a landing page.

Steps to make it possible:
- building script - should build files for different platforms
- script which releases files [here](https://github.com/PeculiarVentures/fortify-web/releases)
- script which updates links and deploy landing to gh-pages, it should automatically check last version of app

Shou

[2017-12-01 13:25] #78 closed, assigned to p1nta

[2017-12-01 13:25] #77 closed, assigned to WorldThirteen

[2017-12-02 02:08] rmhrisk opened #88 "Need to improve driver not found error"
Currently we show:

![image](https://user-images.githubusercontent.com/1619279/33510563-3c0eb654-d6c2-11e7-8f30-ac6857935b68.png)

[code]

[2017-12-02 05:03] rmhrisk opened #89 "Support PIV key generation where possible"
This is a PIV card, so to it is expected but we should investigate, given the popularity, getting keygen to work here:

![image](https://user-images.githubusercontent.com/1619279/33511970-f971b472-d6da-11e7-898c-5860974ffd13.png)

[code]

https://github.com/Yubico/yubico-piv-tool/issues/44

[2017-12-02 05:09] rmhrisk opened #90 "Entering too long of a pin hangs application"
![image](https://user-images.githubusercontent.com/1619279/33512010-f0f185b0-d6db-11e7-9dfd-3749aaeba2cc.png)

[2017-12-02 05:10] rmhrisk opened #91 "I should be able to type in country field to select country"
![image](https://user-images.githubusercontent.com/1619279/33512019-098c1a2c-d6dc-11e7-9438-cb75ed99073d.png)

[2017-12-02 05:11] rmhrisk opened #92 "We should use geolocation to pre-populate location details"
![image](https://user-images.githubusercontent.com/1619279/33512027-2345907e-d6dc-11e7-9be0-68ed26020fe5.png)

[2017-12-02 05:52] rmhrisk opened #93 "Unable to sign with certificate and key on YubiKey 4"
I created a self-signed certificate manually using the YubiKey software:

When I try to sign with that in Hancock I get:
![image](https://user-images.githubusercontent.com/1619279/33512280-def195fc-d6e1-11e7-98b3-83eae8cc84c2.png)

[code]

[2017-12-02 18:04] rmhrisk opened #94 "Add support for "Slovak eID""
ATR: 3b:df:18:00:81:31:fe:58:00:31:b9:64:05:0e:01:00:73:b4:01:d3:00:00:00:22

Path to PKCS#11 modules:
- Windows 32-bit: C:/Program Files (x86)/eID klient/pkcs11_x86.dll
- Windows 64-bit: C:/Program Files (x86)/eID klient/pkcs11_x64.dll
- Linux 32-bit: /usr/lib/eidklient/libpkcs11_sig_x64.so
- Linux 64-bit: /usr/lib/eidklient/libpkcs11_sig_x86.so
- Mac OSX: /Applications/eIDklient.app/Contents/Pkc

[2017-12-02 19:16] rmhrisk opened #95 "Tray application "Exit" not working on Windows"
While working with someone to get the Slovak eID to work I was told:

[code]

He says he is using the tray application to exit but it is not working and he needs to kill the task with task manager.

[2017-12-02 19:23] rmhrisk opened #96 "%PROGRAMFILES works fine but %PROGRAMFILES(x86) doesn't at all"
Variable expansion for (86) doesnt work

[2017-12-06 05:31] rmhrisk opened #97 "YubiKey has poor session management and we need to handle it better"
Create a session in Fortify Tools to a Yubikey.

Remove the token.

Refresh, you will see:

![image](https://user-images.githubusercontent.com/1619279/33646193-56bb848e-da03-11e7-9c8c-4b29ae676a4b.png)

To get past this you need to restart Fortify.

Issues:
1. There is no button so the user is trapped, OK button should be present.
2. Text is no good, maybe add something like:
[code]
3. If you have

[2017-12-06 05:33] rmhrisk opened #98 "Improve multiple session user experience when token doesnt support use case"
YubiKey doesnt support multiple sessions. We need a better error experience this case because YubiKeys are so common.

![image](https://user-images.githubusercontent.com/1619279/33646339-e0756da2-da03-11e7-9eae-f91fe9e523f0.png)

Maybe:
[code]

[2017-12-11 15:17] #56 closed, assigned to donskov

[2017-12-15 11:17] #96 closed, assigned to nobody

[2017-12-15 11:18] #94 closed, assigned to nobody

[2017-12-18 23:48] rmhrisk opened #99 "Update README to show how to build installers"

[2017-12-19 22:12] rmhrisk opened #102 "Update card list on gh-pages"
Currently the card list on https://fortifyapp.com/ is out of date

[2017-12-20 11:49] donskov commented on #102
@rmhrisk Ready to check

[2017-12-20 17:31] #102 closed

[2017-12-22 03:49] rmhrisk opened #103 "Update card.json to enable assigning a "Family" to each card"
Right now we show the many ATRs of a given "family" as individual cards:
![image](https://user-images.githubusercontent.com/1619279/34284589-003c6506-e688-11e7-97a4-6c1f1aedbf43.png)

If we assigned a family identifier to these cards we could collapse them into one display entry which would make the supported card list easier to understand.

What do you think?

[2017-12-22 04:48] rmhrisk opened #104 "Update website to sort cards alphabetically"
Right now the card list is shown in order, we should probably alphabetize them so the list is easier to read.

[2017-12-26 12:35] donskov commented on #104
@rmhrisk Ready to check

[2017-12-26 12:46] donskov commented on #104
@rmhrisk Ready to check

[2017-12-26 12:49] donskov commented on #97
@rmhrisk Please check

[2017-12-26 13:29] #97 closed

[2017-12-26 13:30] #104 closed

[2017-12-27 11:40] donskov commented on #65
@rmhrisk Ready to check

[2017-12-27 13:26] #65 closed

[2018-01-08 19:33] microshine opened #105 "Uninstall script"
- Remove `.fortify` folder on app uninstalling
- Uninstall the associated root certificates.

This is dependent on moving to the paid version of installer.

[2018-01-25 11:41] donskov opened #107 "Token name on password entry window"
On the password input screen it is not clear for which token the password is being entered:

![image](https://user-images.githubusercontent.com/9417251/35386527-00637b38-01d5-11e8-8d10-d4781016fb92.png)

[2018-01-25 12:10] microshine commented on #107
Fortify v.1.0.13
![image](https://user-images.githubusercontent.com/7333669/35387697-d6df301a-01e1-11e8-8daa-3ef450c98bc3.png)

[2018-01-25 14:12] donskov commented on #107
@microshine Thanks

[2018-01-30 11:27] #107 closed

[2018-04-20 20:59] microshine opened #109 "Use IPC for each domain"
Use NodeJs [fork](https://nodejs.org/api/child_process.html#child_process_child_process_fork_modulepath_args_options) for each domain.

Current version of Fortify allows to log in to SC from one domain and use unlocked keys from another.

[2018-05-17 08:47] microshine opened #110 "Question dialog for update shows twice"

[2018-08-01 18:21] microshine opened #111 "Support `label` option for Provider in config.json"
[code]

If option is set then use it for display name

![image](https://user-images.githubusercontent.com/7333669/43540514-9eeead60-95d0-11e8-9fd5-daf9e3eb6d27.png)

---

Use `Firefox NSS` by default for Firefox provider

[2018-08-18 17:08] charlienux opened #113 "Add support for '3bd595ff8091fe1fc38073c8211385' token"
Reader name: AseIIIeUSB 00 00
ATR: 3BD595FF8091FE1FC38073C8211385

[code]

[Smart card ATR parsing 3BD595FF8091FE1FC38073C8211385](https://smartcard-atr.appspot.com/parse?ATR=3BD595FF8091FE1FC38073C8211385)

[2018-08-20 08:31] microshine commented on #113
@charlienux what PKCS11 library do you use for your reader (windows, osx, linux)?

[2018-08-22 16:34] charlienux commented on #113
In Windows Fortify, find the card reader and display the smart card information.

In Windows the name of the reader driver appears as Athena ASEDrive IIIe USB.
C: Windows \ System32 \ ASEDriveProp.dll

In Windows, the name of the smart card driver appears as ASECard Minidriver
C: Windows \ System32 \ asemd.dll

In Linux (Ubuntu 18.04), Fortify detects that a smart card is inserted in the card read

[2018-08-30 12:54] michael79bxl opened #114 "French translation"
`{
    "language": "Langue",
    "yes": "Oui",
    "no": "Non",
    "error": "Erreur",
    "question": "Question",
    "warning": "Attention",
    "about": "À propos",
    "exit": "Quitter",
    "i_understand": "Compris!",
    "logging": "Journaux",
    "view.log": "Afficher le journal",
    "enable.disable": "Activer/Désactiver",
    "tools": "Outils",
    "sites": "Sites",
    "search": "Cherche

[2018-08-30 16:36] microshine commented on #113
@charlienux Thank you
I updated card.json to v1.0.18 and uploaded to server
Your Fortify will update your local file on next Fortify start

If you want to disable card.json update, you can add `"disableCardUpdate": false` option to your `~/.fortify/config.json`

[2018-08-30 16:36] #113 closed

[2018-09-05 10:44] jcca opened #116 "Add support for '3bda11ff81b1fe551f0300318473800180009000e4' token"
Reader name: Free Software Initiative of Japan Gnuk (FSIJ-1.2.10-67103354) 00 00
ATR: 3BDA11FF81B1FE551F0300318473800180009000E4

[code]

[Smart card ATR parsing 3BDA11FF81B1FE551F0300318473800180009000E4](https://smartcard-atr.appspot.com/parse?ATR=3BDA11FF81B1FE551F0300318473800180009000E4)

[2018-09-05 10:50] microshine commented on #116
@jcca what PKCS#11 lib does this reader uses (win, linux, osx)?

[2018-09-05 11:02] jcca commented on #116
I am sorry,  OpenSC.

[2018-09-05 11:08] microshine commented on #116
@jcca Can you add this card to your `~/.fortify/cards.json` file and relaunch Fortify application?
[code]

[2018-09-05 11:12] jcca commented on #116
I've tried it and it works correctly. I can see my certificate at tools.fortifyapp.com

[2018-09-05 11:12] microshine commented on #116
What OS do you use?

[2018-09-05 11:16] jcca commented on #116
I am using ArchLinux with Gnome shell, I can't see tray icon but fortify works correctly.

[2018-09-05 11:25] #111 closed, assigned to microshine

[2018-09-05 11:27] #116 closed

[2018-09-05 11:33] microshine opened #117 "Add web page with list of supported smart cards"
We can use [card.jws](https://github.com/PeculiarVentures/fortify/blob/gh-pages/packages/card.jws) file for list building

@rmhrisk what do you think about it?

[2018-09-05 12:14] rmhrisk commented on #117
Sure

[2018-09-15 19:18] LeonardoBorselli opened #118 "Add support for '3bdf18008131fe7d006b150c0180011101434e53103180e9' token"
Reader name: ACS ACR38U-CCID
ATR: 3BDF18008131FE7D006B150C0180011101434E53103180E9

[code]

[Smart card ATR parsing 3BDF18008131FE7D006B150C0180011101434E53103180E9](https://smartcard-atr.appspot.com/parse?ATR=3BDF18008131FE7D006B150C0180011101434E53103180E9)

[2018-09-16 05:16] rmhrisk commented on #118
Does this device have a PKCS11 library for it?

[2018-10-07 04:48] rmhrisk opened #119 "Add support for '3bfd1300008131fe158073c021c057597562694b657940' token"
Reader name: Yubico Yubikey 4 OTP+U2F+CCID
ATR: 3BFD1300008131FE158073C021C057597562694B657940

[code]

[Smart card ATR parsing 3BFD1300008131FE158073C021C057597562694B657940](https://smartcard-atr.appspot.com/parse?ATR=3BFD1300008131FE158073C021C057597562694B657940)

[2018-10-08 09:52] ssijak opened #120 "Add support for '3b7d96000080318065b0830201f383009000' token"
Reader name: Gemalto PC Twin Reader
ATR: 3B7D96000080318065B0830201F383009000

[code]

[Smart card ATR parsing 3B7D96000080318065B0830201F383009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D96000080318065B0830201F383009000)

[2018-10-08 22:08] rmhrisk commented on #120
@ssijak do you have any idea what token this is?

Do you know what PKCS#11 libraries you use to make it work? If so do you know where those libraries are installed by default?

[2018-10-08 22:10] rmhrisk opened #121 "Add checkbox not to prompt for a unsupported card type"
It is conceivable we won't be able to add support for all card types, as such having an option to "Do not prompt for this type of smart card" would be useful.

[2018-10-10 04:40] microshine opened #122 "Add `Don't ask again` checkbox"
![image](https://user-images.githubusercontent.com/7333669/46713489-9b0bc780-cc5f-11e8-9f06-45eb06ab700a.png)

[2018-10-10 06:32] rmhrisk commented on #122
Closing as dupe of https://github.com/PeculiarVentures/fortify/issues/121

[2018-10-10 06:32] #122 closed

[2018-10-22 06:05] rmhrisk opened #123 "Add support for '3bfd1300008131fe158073c021c057597562694b657940' token"
Reader name: Yubico Yubikey 4 OTP+U2F+CCID
ATR: 3BFD1300008131FE158073C021C057597562694B657940

[code]

[Smart card ATR parsing 3BFD1300008131FE158073C021C057597562694B657940](https://smartcard-atr.appspot.com/parse?ATR=3BFD1300008131FE158073C021C057597562694B657940)

[2018-10-22 06:06] rmhrisk commented on #123
http://database.mysmartlogon.com/SmartCardDetail.php?Id=332

[2018-10-22 12:12] denissm opened #124 "Fortify - Ubuntu 18 issue."
Setting app on Ubuntu. On first start there's popup about adding key and asking password. On confirm - firefox browser opens but with empty page. And no password is asked. Waited some time - nothing. If started in terminal - there's message that file pvpkcs11.so is not found in asar file.  Looking into app's asar - indeed, there's no such file there. Looking into repository (https://github.com/Pec

[2018-10-22 12:20] microshine commented on #124
`pvpkcs11.so` is not required for Windows and OSX only. I'll fix this error for the next version. But this error don't stop Fortify app

Can you share screenshots and log file? You can send them to microshine@peculiarventures.com

[2018-10-22 13:43] denissm commented on #124
* Trying to run from scratch: ~/.fortify, ~/.config/Fortify removed.
* When clicked on "I understand", Firefox window is closed and opened again (empty).  No password is asked.

**Now there's no missing .so file message.**

Screenshots sent to microshine@peculiarventures.com.

[2018-10-26 10:06] avalink opened #125 "Add support for '3b8f8001804f0ca000000306030001000000006a' token"
Reader name: ACS ACR1281 1S Dual Reader 00 01
ATR: 3B8F8001804F0CA000000306030001000000006A

[code]

[Smart card ATR parsing 3B8F8001804F0CA000000306030001000000006A](https://smartcard-atr.appspot.com/parse?ATR=3B8F8001804F0CA000000306030001000000006A)

[2018-10-26 14:21] rmhrisk commented on #125
Do you know if this card has a pkcs11 library?

It seems it has a CSP: http://database.mysmartlogon.com/SmartCardDetail.php?Id=209

[2018-11-09 00:16] rmhrisk opened #126 "I uninstalled Fortify on OSX and re-installed, during the install I got error but install "succeeded""
I uninstalled Fortify on OSX and re-installed, during the install I got an error:
![image](https://user-images.githubusercontent.com/1619279/48235124-79425500-e371-11e8-982c-0de6ffc8f656.png)

The install "succeeded" but the application did not start.

My guess this is related to my recent upgrade to Mojava:

![image](https://user-images.githubusercontent.com/1619279/48235197-cd4d3980-e371-11e8-86

[2018-11-26 19:05] sanchojuniorce opened #127 "Add support for '3bf2180002c10a31fe58c80975' token"
Reader name: AKS ifdh 00 00
ATR: 3BF2180002C10A31FE58C80975

[code]

[Smart card ATR parsing 3BF2180002C10A31FE58C80975](https://smartcard-atr.appspot.com/parse?ATR=3BF2180002C10A31FE58C80975)

[2018-11-26 19:31] rmhrisk commented on #127
I believe based on searches it may be an eTokenCard.

If so, maybe the following configuration will worek with it:

[code]

[2018-11-26 19:32] rmhrisk commented on #127
@sanchojuniorce can you confirm the above libraries exist on your system?

[2019-01-21 08:12] kranidiotis opened #129 "Add support for '3b7f96000080318065b0850300ef120ffe829000' token Gemalto MD 3840 nfc"
Reader name: Gemalto PC Twin Reader (72B7CFD3) 00 00
ATR: 3B7F96000080318065B0850300EF120FFE829000

[code]

[Smart card ATR parsing 3B7F96000080318065B0850300EF120FFE829000](https://smartcard-atr.appspot.com/parse?ATR=3B7F96000080318065B0850300EF120FFE829000)

[2019-01-21 08:15] microshine commented on #129
This card must be in list. Can you check your `~/.fortify/card.json`?

https://github.com/PeculiarVentures/webcrypto-local/blob/master/json/card.json#L243

[2019-01-21 08:21] microshine commented on #129
Cardreader doesn't have linux library

https://github.com/PeculiarVentures/webcrypto-local/blob/master/json/card.json#L385-L395

Do you have installed pkcs11 library?

[2019-02-06 09:19] licarigianluca opened #130 "Add support for '3bdf18008131fe7d006b020c0182011101434e53103180fc' token"
Reader name: ACS ACR38U-CCID 00 00
ATR: 3BDF18008131FE7D006B020C0182011101434E53103180FC

[code]

[Smart card ATR parsing 3BDF18008131FE7D006B020C0182011101434E53103180FC](https://smartcard-atr.appspot.com/parse?ATR=3BDF18008131FE7D006B020C0182011101434E53103180FC)

[2019-02-06 09:56] licarigianluca commented on #130
other info

PC/SC device scanner
V 1.4.27 (c) 2001-2011, Ludovic Rousseau <ludovic.rousseau@free.fr>
Compiled with PC/SC lite version: 1.8.17
Using reader plug'n play mechanism
Scanning present readers...
0: ACS ACR38U-CCID 00 00

Wed Feb  6 10:55:37 2019
Reader 0: ACS ACR38U-CCID 00 00
  Card state: Card inserted, Shared Mode,
  ATR: 3B DF 18 00 81 31 FE 7D 00 6B 02 0C 01 82 01 11 01 43 4E 53 10

[2019-02-06 10:09] rmhrisk commented on #130
Thank you for this bug.

Can you provide the path in which we might be able to find the PKCS#11 libraries for this card?

We need the following:

[code]

[2019-02-06 10:18] licarigianluca commented on #130
I'm using Debian Linux and the module is in this path: '/usr/lib/x86_64-linux-gnu/opensc-pkcs11.so'

[2019-02-06 10:29] rmhrisk commented on #130
@microshine I have updated the JSON based on the provided detail in the bug above, please publish a new card.json when you have the time.

[2019-02-06 10:37] licarigianluca commented on #130
Thanks. Can you paste the modified part of the card.json so I try on my machine meanwhile microshine publishing your patch?

Thank you again

[2019-02-06 11:57] rmhrisk commented on #130
It is possible to do that, I forget where in the install it is located but you can just add that definition and it should work.

@microshine can clarify on location when he is free.

[2019-02-06 14:45] licarigianluca commented on #130
can you paste the definition please?

[2019-02-06 15:53] licarigianluca commented on #130
I added this code to the card.json file and now the message "card unsupported" vanished. But when I try to use this card after I enter the pin something strange happened.

![image](https://user-images.githubusercontent.com/5665411/52353703-5cc8be00-2a2f-11e9-8998-389acfe3f617.png)

the browser hangs this are the logs

{"message":"Application started at Wed Feb 06 2019 16:47:17 GMT+0100 (CET)","lev

[2019-02-06 16:35] rmhrisk commented on #130
For the purpose of your test update the linux path for the driver "993988460d8f49a2ac519a2935f11533" to point at "/usr/lib/x86_64-linux-gnu/opensc-pkcs11.so"

[2019-02-06 17:21] licarigianluca commented on #130
I have done before I wrote back

[2019-02-06 22:16] rmhrisk commented on #130
Does this smart card have certificates on it? If so how have you verified that?

[2019-02-06 22:19] microshine commented on #130
@licarigianluca try https://peculiarventures.github.io/fortify-examples/example4.html this page
it must show all certificates and keys for you token

[2019-02-06 22:54] microshine commented on #130
@licarigianluca I sent updated `card.json` to your email from github account. Can you try it and confirm that it works for you?

I checked Fortify code, looks like it doesn't support multi paths for `card.json` file. We need to fix it in the next release
https://github.com/PeculiarVentures/webcrypto-local/issues/217

[2019-02-07 08:47] licarigianluca commented on #130
This is what i got in that page

![image](https://user-images.githubusercontent.com/5665411/52399709-4bc68e00-2abd-11e9-924b-77e2cffb2f69.png)

[2019-02-07 08:48] rmhrisk commented on #130
It seems we are able to see the certificate on your card with the test page, with that same configuration do you see the certificate when you visit https://tools.fortifyapp.com/ and select that smart card?

[2019-02-07 08:50] licarigianluca commented on #130
No the page hangs and cpu go to 100%(one core of course)

[2019-02-07 08:51] rmhrisk commented on #130
Hmmm.... I think were going to need to find a local reproduction to figure this one out. @microshine  Any ideas?

[2019-02-07 08:53] microshine commented on #130
@licarigianluca Is your fortify.log the same which you sent before?

[2019-02-07 08:55] licarigianluca commented on #130
this
[fortify.log](https://github.com/PeculiarVentures/fortify/files/2839981/fortify.log)

[2019-02-07 09:11] microshine commented on #130
Looks like Fortify app returns 1 certificate to *tools.fortifyapp.com*
Maybe this is Web page error

It can be error on certificate showing
- Can you check your browser console log?
- Can you share your certificate?

[2019-02-07 09:26] licarigianluca commented on #130
- yes I can
- Yes but I don't know how to export

[2019-02-07 09:29] microshine commented on #130
You can export by using https://peculiarventures.github.io/fortify-examples/example4.html from console

![image](https://user-images.githubusercontent.com/7333669/52401832-ba164b00-2ad3-11e9-999c-9a18c50a60d0.png)

[code]

[2019-02-07 09:40] licarigianluca commented on #130
"-----BEGIN CERTIFICATE-----
MIIFqzCCBJOgAwIBAgIDOW7OMA0GCSqGSIb3DQEBBQUAMHMxCzAJBgNVBAYTAklU
MRcwFQYDVQQKEw5BY3RhbGlzIFMucC5BLjEiMCAGA1UECxMZU2Vydml6aSBkaSBD
ZXJ0aWZpY2F6aW9uZTEnMCUGA1UEAxMeUmVnaW9uZSBUb3NjYW5hIC0gQ0EgQ2l0
dGFkaW5pMB4XDTE2MDcyOTE1MDYxMVoXDTIyMDcyOTE1MDU0OVowga0xCzAJBgNV
BAYTAklUMRcwFQYDVQQKEw5BY3RhbGlzIFMucC5BLjEYMBYGA1UECxMPUkVHSU9O
RSBUT1NDQU5BMUcwRQYDVQQDEz5MQ1JHTEM4MlAyOUU5Nz

[2019-02-07 09:42] microshine commented on #130
Thank you! I need some time for tests

[2019-02-07 09:44] licarigianluca commented on #130
can we delete the comment in which i wrote the certificate?

[2019-02-08 09:31] microshine commented on #130
@licarigianluca Can you try updated version of https://tools.fortifyapp.com

Thanks to @donskov for finding and fixing UI error

[2019-02-08 09:32] licarigianluca commented on #130
I have to start fortify on my pc?

[2019-02-08 09:33] microshine commented on #130
yes
And open link I shared. It must show your certificate in list

[2019-02-08 09:34] licarigianluca commented on #130
ok Works!

[2019-02-08 09:37] microshine commented on #130
I'll add `3BDF18008131FE7D006B020C0182011101434E53103180FC` later. I need to update webcrypto-local implementation and publish new Fortify version to support multi paths for `card.json`

[2019-02-08 09:38] microshine commented on #130
You can use https://github.com/PeculiarVentures/fortify-examples for starting and [webcrypto-socket.d.ts](https://github.com/PeculiarVentures/webcrypto-local/blob/master/webcrypto-socket.d.ts) file

[2019-02-08 09:42] licarigianluca commented on #130
Can You advice me  when the new version will be available please?

thanks

[2019-02-08 09:44] microshine commented on #130
About 4-5 days

[2019-02-09 14:02] dam0vm3nt opened #131 "Add support for '3bff1800ff8131fe55006b02090303010101434e531031809d' token"
Reader name: ACS ACR 38U-CCID
ATR: 3BFF1800FF8131FE55006B02090303010101434E531031809D

[code]

[Smart card ATR parsing 3BFF1800FF8131FE55006B02090303010101434E531031809D](https://smartcard-atr.appspot.com/parse?ATR=3BFF1800FF8131FE55006B02090303010101434E531031809D)

[2019-02-09 15:14] dam0vm3nt commented on #131
[code]

[2019-02-09 17:34] rmhrisk commented on #131
@dam0vm3nt did you try this configuration? Do you have a link to where we can maybe find out more about the device like where windows/linux drivers might get installed?

[2019-02-09 17:42] rmhrisk commented on #131
Is this card for "Aruba CNS for Regione Toscana (IT)"

[2019-02-11 09:12] dam0vm3nt commented on #131
hi: this is one of the cards/reader that the Italian National Chamber for Commerce is selling to citizen for legally (for the italian law) sign documents.

Probably it's the same used by Aruba and sold by them to Regione Toscana, but I can't be sure, anyway it's widely spread in Italy.

I've tried the above configuration on my mac and it's working. The pkcs#11 drivers were installed by another app

[2019-02-11 09:16] dam0vm3nt commented on #131
Probably a better name can be : "Italian CNS"

[2019-02-11 10:12] licarigianluca commented on #130
It's possible to sign PDFs with fortify?

[2019-02-11 10:19] rmhrisk commented on #130
It is.

Check out https://hancock.ink it’s integrated Fortify.

[2019-02-11 10:28] licarigianluca commented on #130
Sorry but I don't understand. Hancock does sign PDFs because is made upon Fortify?

[2019-02-11 10:30] rmhrisk commented on #130
Hancock can sign PDFs and can do so with smart cards because it used Fortify.

[2019-02-14 08:38] licarigianluca commented on #130
Is the release ready (with the changes needed for this card to work) ?

[2019-02-14 10:29] microshine commented on #130
@licarigianluca I updated `node-webcrypto-p11` library, which is used by Fortify. It took a bit more time. I'm updating Fortify now.

[2019-02-15 20:05] apilguk opened #132 "Fortify tray icon invisible on dark macos theme"
![image](https://user-images.githubusercontent.com/5960711/52881620-b8045a00-316d-11e9-8768-1205df5c1389.png)
![image](https://user-images.githubusercontent.com/5960711/52881632-bf2b6800-316d-11e9-8517-1b58fca6c395.png)

[2019-02-19 23:34] microshine commented on #130
@licarigianluca Can you try this new version?

https://github.com/PeculiarVentures/fortify-web/releases/tag/v1.0.18

### card.json example
[code]

[2019-02-26 11:46] licarigianluca commented on #130
Hi,
   I'm trying to use fortify with another project CAdes.js but how i can use both starting with example file provided with fortify? Where is the correct way to import it for use?

thankyou

[2019-02-26 13:49] OtakuDigitChoc opened #133 "Add support for '3b7f96000080318065b0850300ef120ffe829000' token"
Reader name: Gemalto USB Shell Token V2 (A4CD3948) 00 00
ATR: 3B7F96000080318065B0850300EF120FFE829000

[code]

[Smart card ATR parsing 3B7F96000080318065B0850300EF120FFE829000](https://smartcard-atr.appspot.com/parse?ATR=3B7F96000080318065B0850300EF120FFE829000)

[2019-02-26 14:37] edsono opened #134 "Add support for '3bfd1800008131fe4553434536302d43433038312d46c2' token"
Reader name: Giesecke & Devrient GmbH StarSign Crypto USB Token
ATR: 3BFD1800008131FE4553434536302D43433038312D46C2

[code]

[Smart card ATR parsing 3BFD1800008131FE4553434536302D43433038312D46C2](https://smartcard-atr.appspot.com/parse?ATR=3BFD1800008131FE4553434536302D43433038312D46C2)

[2019-02-26 18:32] rmhrisk commented on #134
@edsono thanks for this. Do you know where the PKCS#11 libraries are installed for this token?

[2019-02-26 18:34] rmhrisk commented on #133
@OtakuDigitChoc thanks for this. The shell token is the USB reader, do you know what smart card is inside it?

Do you know what PKCS#11 middleware is used with that smart card? In particular we need to know where the PKCS#11 library is installed for this smart card.

[2019-02-26 18:37] rmhrisk commented on #130
This is really an issue for CAdES repository; Fortify just looks like a webcrypto implementation. I think your question is how do I use CAdES? If so please file a bug in that repository. We would love to hear about what you're trying to do also, it would help us give more targeted advice.

[2019-02-27 15:25] edsono commented on #134
Hello, in my mac is on "/Applications/tokenadmin.app/Contents/Frameworks/libaetpkss.dylib".

[2019-02-27 15:43] rmhrisk commented on #134
Thanks, it looks like https://lastpass.com/support.php?cmd=showfaq&id=2255&lang=de-de has the other paths.

We will work on a update with this data.

[2019-02-28 08:44] SpiReCZ opened #135 "Add support for '3b7f9400008025a0000000285780103001000100' token"
Reader name: Gemalto PC Twin Reader
ATR: 3B7F9400008025A0000000285780103001000100

[code]

[Smart card ATR parsing 3B7F9400008025A0000000285780103001000100](https://smartcard-atr.appspot.com/parse?ATR=3B7F9400008025A0000000285780103001000100)

[2019-02-28 08:49] microshine commented on #135
@SpiReCZ do you know which PKCS11 libraries your reader uses?

[2019-02-28 17:54] #132 closed

[2019-03-07 13:28] licarigianluca opened #136 "Add support for '3bdf18008131fe7d006b150c0180011101434e53103180e9' token"
Reader name: ACS ACR38U-CCID 00 00
ATR: 3BDF18008131FE7D006B150C0180011101434E53103180E9

[code]

[Smart card ATR parsing 3BDF18008131FE7D006B150C0180011101434E53103180E9](https://smartcard-atr.appspot.com/parse?ATR=3BDF18008131FE7D006B150C0180011101434E53103180E9)

[2019-03-08 01:39] rmhrisk commented on #136
@licarigianluca this seems to be a card from Actalis S.p.A.

Can you share some details about it?

- What is the path to it's PKCS#11 library?
- What is the name of the token?
- Is it a token or card?

[2019-03-08 09:42] licarigianluca commented on #136
- What is the path to it's PKCS#11 library?
same situation of issue #130

- What is the name of the token?
I don't know how to get this information

- Is it a token or card?

Is a card

[2019-03-13 10:43] lmangiacotti opened #137 "Add support for '3bdf18008131fe7d006b020c0182011101434e53103180fc' token"
Reader name: Alcor Micro AU9520 00 00
ATR: 3BDF18008131FE7D006B020C0182011101434E53103180FC

[code]

[Smart card ATR parsing 3BDF18008131FE7D006B020C0182011101434E53103180FC](https://smartcard-atr.appspot.com/parse?ATR=3BDF18008131FE7D006B020C0182011101434E53103180FC)

[2019-03-13 14:59] rmhrisk commented on #137
Can you share details about this card? For example where is the PLCS11 library for it? What is it’s form factor? Etc?

[2019-03-13 16:07] JanSlabon opened #138 "Add support for '3bbf96008131fe5d00640411040f31c073f701d000900074' token"
Reader name: DATEV Virtueller SmartCard Leser 0
ATR: 3BBF96008131FE5D00640411040F31C073F701D000900074

[code]

[Smart card ATR parsing 3BBF96008131FE5D00640411040F31C073F701D000900074](https://smartcard-atr.appspot.com/parse?ATR=3BBF96008131FE5D00640411040F31C073F701D000900074)

[2019-03-13 16:07] JanSlabon opened #139 "Add support for '3bbf96008131fe5d00640411040f31c073f701d000900074' token"
Reader name: KOBIL Systems Smart Token 1
ATR: 3BBF96008131FE5D00640411040F31C073F701D000900074

[code]

[Smart card ATR parsing 3BBF96008131FE5D00640411040F31C073F701D000900074](https://smartcard-atr.appspot.com/parse?ATR=3BBF96008131FE5D00640411040F31C073F701D000900074)

[2019-03-13 17:44] rmhrisk commented on #139
@JanSlabon can you provide some additional details, for example:

- What is the path to the PKCS#11 library
- What is the name of the token?

[2019-03-13 17:44] rmhrisk commented on #138
@JanSlabon can you provide some additional details, for example:

- What is the path to the PKCS#11 library?
- What is the name of the token?

[2019-03-15 03:55] alexanderj2357 opened #140 "Add support for '3bff9600008131804380318065b0850300ef120ffe82900066' token"
Reader name: AKS ifdh 0
ATR: 3BFF9600008131804380318065B0850300EF120FFE82900066

[code]

[Smart card ATR parsing 3BFF9600008131804380318065B0850300EF120FFE82900066](https://smartcard-atr.appspot.com/parse?ATR=3BFF9600008131804380318065B0850300EF120FFE82900066)

[2019-03-15 03:57] rmhrisk commented on #140
Do you know the name of this  token and where it’s PKCS11 can be found on your computer?

[2019-03-18 19:36] javierseoane opened #141 "Add support for '3b7f94000080318065b0850300ef120fff829000' token"
Reader name: OMNIKEY CardMan 3x21 0
ATR: 3B7F94000080318065B0850300EF120FFF829000

[code]

[Smart card ATR parsing 3B7F94000080318065B0850300EF120FFF829000](https://smartcard-atr.appspot.com/parse?ATR=3B7F94000080318065B0850300EF120FFF829000)

[2019-03-18 19:36] javierseoane opened #142 "Add support for '3b7f94000080318065b0850300ef120fff829000' token"
Reader name: OMNIKEY CardMan 3x21 0
ATR: 3B7F94000080318065B0850300EF120FFF829000

[code]

[Smart card ATR parsing 3B7F94000080318065B0850300EF120FFF829000](https://smartcard-atr.appspot.com/parse?ATR=3B7F94000080318065B0850300EF120FFF829000)

[2019-03-18 19:37] javierseoane opened #143 "Add support for '3b7f94000080318065b0850300ef120fff829000' token"
Reader name: OMNIKEY CardMan 3x21 0
ATR: 3B7F94000080318065B0850300EF120FFF829000

[code]

[Smart card ATR parsing 3B7F94000080318065B0850300EF120FFF829000](https://smartcard-atr.appspot.com/parse?ATR=3B7F94000080318065B0850300EF120FFF829000)

[2019-03-18 22:10] rmhrisk commented on #143
@javierseoane can you tell us the name of this token and the fully qualified path for the PKCS#11 library?

[2019-03-18 22:10] rmhrisk commented on #142
Dupe

[2019-03-18 22:10] #142 closed

[2019-03-18 22:10] rmhrisk commented on #141
Dupe

[2019-03-18 22:10] #141 closed

[2019-03-18 22:10] rmhrisk commented on #139
Dupe

[2019-03-18 22:10] #139 closed

[2019-03-19 23:15] alexanderj2357 commented on #140
The token is "Safenet eToken 5110 CC", Card Type "ID Prime MD"
I'm not sure about the path. The token is on a USB flash drive.

[2019-03-19 23:16] alexanderj2357 commented on #140
I can find the path if you give me so more information about what sort of path you are looking for.
Also thank you very much for looking into this. The older version of fortify still works but we hope to get our token supported on the newest version.

[2019-03-19 23:24] rmhrisk commented on #140
Strange that the older version works
But not the newer one.

Maybe it was falling through to CryptoAPI previously. Are you sure? Or is this a newer version of the token?

By path, I mean when you use this token in applications you must specify what PKCS11 DLL to use, where is that file found and what is its name?

Since it is a safenet we can guess that it’s the safenet middleware; we can add it e

[2019-03-20 02:40] alexanderj2357 commented on #140
Hello,

The SafeNet version that we use is the following: SafeNet Authentication Client 10.3 (10.3.25.0).

Regards,
Alexander

[2019-03-20 02:42] rmhrisk commented on #140
@microshine I think we need to add this ATR and map it to the SAC client.

My guess is here this was falling back to CAPI; I do wonder why that isn’t happening now though. Ideas?

[2019-03-20 02:56] wayne-davidson-tickle commented on #140
(I work with Alex)

Our implementation only looks at providers with isRemovable=true, so my assumption would be that this is not falling back to the Windows Crypto API. If this is an invalid assumption please let me know.

Not sure of the relevancy of any of this however we did have some issues when we moved from using 5110 tokens to the 5110 CC token. Ultimately this was solved by us upgrading ou

[2019-03-20 04:47] rmhrisk commented on #140
Wayne, thanks for the additional information.

I think a Fortify log would help us. Can you clear the log and provide it?

It would also be useful to see the file name and path for your SAC client.

[2019-03-20 04:55] rmhrisk commented on #140
We also would love to hear what youve done with Fortify BTW.

[2019-03-20 05:22] wayne-davidson-tickle commented on #140
Log:

`{"message":"Application started at Wed Mar 20 2019 16:20:46 GMT+1100 (Australian Eastern Daylight Time)","level":"info"}
{"message":"OS win32 x64 ","level":"info"}
{"message":"Fortify v1.0.18","level":"info"}
{"message":"System locale is 'en-US'","level":"info"}
{"message":"Locale: Set language to 'en'","level":"info"}
{"message":"Fortify: Create window index","level":"info"}
{"message":"Up

[2019-03-20 05:25] rmhrisk commented on #140
Yes if this token worked before it was falling through to CryptoAPI based support. We will investigate, we will also add this to the ATR map so it will use SAC.

[2019-03-21 07:30] wayne-davidson-tickle commented on #140
Thanks Ryan, appreciate the response.

In regards to how we are using Fortify, part of the system (web application) we are building requires documents (essentially XML objects) to be digitally signed by end users (XMLDsig) and submitted to a registry, who in turn, can validate these signatures. Generally our users use hard-tokens, and we use Fortify to facilitate the interaction between our web ap

[2019-03-21 07:58] rmhrisk commented on #140
That’s great. Would love to hear more. Ryan@peculiarventures.com

Have you seen our xmldsig library? https://xadesjs.com

[2019-03-21 08:01] rmhrisk commented on #140
That’s great. Would love to hear more. Ryan@peculiarventures.com

Have you seen our xmldsig library? https://xadesjs.com

[2019-03-21 08:10] microshine commented on #140
@alexanderj2357 Can you try to update your local `~/.fortify/card.json` file and check that token works?

[2019-03-21 08:42] microshine commented on #140
Steps to update card.json
- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Update "driver" field in card
  _You can use existing id from "drivers", or add new driver to "drivers"_
- Restart Fortify

[2019-03-22 14:31] johnsson-tobias opened #144 "Add support for '3b7d96000080318065b0a31101f383009000' token"
Reader name: OMNIKEY AG 3121 USB
ATR: 3B7D96000080318065B0A31101F383009000

[code]

[Smart card ATR parsing 3B7D96000080318065B0A31101F383009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D96000080318065B0A31101F383009000)

[2019-03-22 15:05] rmhrisk commented on #144
@johnsson-tobias is this the `Telia EID IP5a (eID)`?

Do you know what PKCS#11 library you use with this device?
What is the path on your system for this PKCS#11 library?

[2019-03-22 16:06] johnsson-tobias commented on #144
Hi Ryan,

Wow, that was fast!

Yes, it I the Telia EID IP5a.

I’m using a special version of NetID by https://netid.secmaker.com <https://netid.secmaker.com/>, I’m using osx, most implementations in Sweden use windows machines with Telia's NetId app (probably also coded by secmaker). In my case I use it with a third party web based authentication solution that works with Google Chrome and Firefox

[2019-03-23 21:37] gilluan opened #145 "Add support for '3bfd1800008131fe4553434536302d43433038312d46c2' token"
Reader name: Giesecke & Devrient GmbH StarSign Crypto USB Token (01150822029690) 00 00
ATR: 3BFD1800008131FE4553434536302D43433038312D46C2

[code]

[Smart card ATR parsing 3BFD1800008131FE4553434536302D43433038312D46C2](https://smartcard-atr.appspot.com/parse?ATR=3BFD1800008131FE4553434536302D43433038312D46C2)

[2019-03-23 22:12] rmhrisk commented on #145
This appears to be a Giesecke & Devrient StarSign USB Token. What P11 do you use this with? Where is it located on your file system?

[2019-03-23 22:28] rmhrisk commented on #145
It looks like the file is called “libaetjcss.dylib” on OSX.

Maybe located in: /Applications/tokenadmin.app/Contents/Frameworks

[2019-03-23 22:40] rmhrisk commented on #145
I’m going to guess the Linux file is: ‘/usr/lib/libaetpkss.so’

And the Windows file is:
‘libaetpkss.dll’

[2019-03-23 22:45] rmhrisk commented on #145
@gilluan can you confirm?

[2019-03-25 10:01] microshine commented on #144
https://service.secmaker.com/examples/pkcs11.aspx

Looks like OpenSC supports `Telia EID IP5a`

[2019-03-25 10:34] microshine commented on #144
@johnsson-tobias Can you try to update your `~/.foritfy/card.json` and use *iidp11* or *OpenSC* driver

- update `card.json`
- restart Fortify

### iidp11

[code]

### OpenSC
[code]

[2019-03-25 11:05] microshine commented on #134
@edsono Can you try to update your `~/.fortify/card.json`

- update `card.json`
- resart Fortify

[code]

If it works I'll update and publish new version of card.json

[2019-03-25 15:49] johnsson-tobias commented on #144
@microshine Thanks for your help! I installed OpenSC and added the json according to your second example and it works! I can read my open certificates and also authenticate against the protected ones! Fortify rocks!

PS. I don't have libiidp11 installed so I have not tried that driver!

[2019-03-25 19:06] microshine commented on #144
@johnsson-tobias Thank you! I've published new version of card.json v1.0.21. You can update your local version by Fortify restarting.

[2019-03-25 19:06] #144 closed

[2019-04-01 09:22] madanprabhud opened #146 "Add support for '3b9f958131fe9f006646530501001171df000006000015' token"
Reader name: FT ePass2003Auto (Sõc¶¿Ðò Éû) 00 00
ATR: 3B9F958131FE9F006646530501001171DF000006000015

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530501001171DF000006000015](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530501001171DF000006000015)

[2019-04-01 15:02] rmhrisk commented on #146
@madanprabhud what PKCS#11 library do you use with this token? What path is that file found in?

[2019-04-02 08:34] vtucan opened #147 "Add support for '3b7e9400008025d20310010056000000020200' token"
Reader name: HP USB Smart Card Keyboard 0
ATR: 3B7E9400008025D20310010056000000020200

[code]

[Smart card ATR parsing 3B7E9400008025D20310010056000000020200](https://smartcard-atr.appspot.com/parse?ATR=3B7E9400008025D20310010056000000020200)

[2019-04-02 08:37] microshine commented on #147
Can you try to update your local ~/.fortify/card.json file and check that token works?

Steps to update card.json

- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Update "driver" field in card
- You can use existing id from "drivers", or add new driver to "drivers"
- Restart Fortify

[2019-04-02 10:41] vtucan commented on #147
Yes, after modification, the token works but I have some troubles with the reader. So I have to configure the driver correctly.

[2019-04-02 10:44] microshine commented on #147
Please share `card.json` changed data when you finish. I'll publish new version.

[2019-04-02 16:12] edsono commented on #134
Hello @microshine,

After a little correction, by putting a comma that was missing, it worked without any problem!

Thanks!!!

[2019-04-02 17:13] rmhrisk opened #148 "Add support for TPM backed keys"
We can use https://github.com/tpm2-software/tpm2-pkcs11 to support TPM backed keys.

On Windows we could use the virtual smart card feature

[2019-04-02 17:22] rmhrisk commented on #117
![image](https://user-images.githubusercontent.com/1619279/55422751-36a43380-5531-11e9-8848-3c91eca33e32.png)

Done

[2019-04-02 17:22] #117 closed

[2019-04-02 17:22] rmhrisk commented on #126
Fixed

[2019-04-02 17:22] #126 closed

[2019-04-02 17:23] rmhrisk commented on #110
Fixed

[2019-04-02 17:23] #110 closed

[2019-04-02 17:23] rmhrisk commented on #105
Fixed

[2019-04-02 17:23] #105 closed

[2019-04-02 17:24] rmhrisk commented on #124
@denissm is this resolved for you? We believe it is.

[2019-04-02 17:25] rmhrisk commented on #95
Fixed

[2019-04-02 17:25] #95 closed

[2019-04-02 17:26] rmhrisk commented on #93
Fixed

[2019-04-02 17:26] #93 closed

[2019-04-02 17:29] rmhrisk opened #149 "Add support for Yubikey remote attested CSR"
Yubikey supports creating a CSR that is signed by a key on the token so you can authenticate the key was generated on the token. We could add support to this to Fortify.

[2019-04-02 17:30] rmhrisk commented on #75
Fixed

[2019-04-02 17:30] #75 closed

[2019-04-02 17:30] rmhrisk commented on #74
Fixed

[2019-04-02 17:30] #74 closed

[2019-04-02 18:08] rmhrisk commented on #143
@javierseoane is this a "Gemalto Classic V4"? We also need the path to the PKCS#11 to help.

[2019-04-02 18:13] rmhrisk commented on #130
@licarigianluca is this resolved for you?

[2019-04-02 18:14] rmhrisk commented on #136
@microshine I believe @licarigianluca is saying it uses the opensc driver.

[code]

I think we can call this "Actalis S.p.A. Card"

[2019-04-02 18:18] rmhrisk commented on #123
@microshine We should be able to add this to the existing YubiKey driver.

[2019-04-02 18:19] rmhrisk commented on #118
We need more info to add support for this, your help is appreciated.

[2019-04-03 06:12] JanSlabon commented on #138
Ryan, I simply don't know... how/where do I find the exact information you need?
![grafik](https://user-images.githubusercontent.com/12390057/55456566-a37a0500-55e7-11e9-8328-2c80858315b9.png)

It's this token: https://www.datev.de/web/de/datev-shop/it-loesungen-und-security/datev-midentity-compact/
Drivers can be download here: https://www.datev.de/web/de/service/software-auslieferung/download-be

[2019-04-03 09:05] microshine commented on #138
Try to update your `~/.fortify/card.json` file. Looks like OpenSC supports this token
https://github.com/OpenSC/OpenSC/blob/master/src/libopensc/card-tcos.c#L47

- open `card.json` file
- add card to "cards" array
- restart Fortify

### OpenSC
[code]

Let me know if it works I'll publish new version of card.json

[2019-04-03 09:11] microshine opened #150 "Support multi driver for card"
### Single driver
[code]

### Multi driver
[code]

[2019-04-03 09:29] vtucan commented on #147
Finally, I got it working.

my card.json file:
{
  "$schema": "./card.schema.json",
  "version": "1.0.21",
  "cards": [
    {
      "atr": "3b7e9400008025d20310010056000000020200",
      "name": "National Identity Document: Czech eID (since 7/2018)",
      "driver": "445912C0D3A36598078024B49C87336F45B16EA9"
    }
  ],
  "drivers": [
    {
      "id": "445912C0D3A36598078024B49C87336F45B16EA9",

[2019-04-03 14:19] JanSlabon commented on #138
I get:
![grafik](https://user-images.githubusercontent.com/12390057/55486076-f8d80580-562b-11e9-8367-d6eb9504be39.png)
now.

[2019-04-03 14:39] rmhrisk commented on #138
Do you find that file anywhere on your computer?

Does this card work in other applications? If so what applications?

[2019-04-03 14:45] rmhrisk commented on #147
Thanks.

We will do an update based on that.

We can assume based on the file name that  the 32bit version has same name and that it’s directory is the non 64bit system32.

I did some searches and don’t find Linux or Mac drivers.

@microshine please do the update.

[2019-04-03 14:47] JanSlabon commented on #138
I found this file in C:\Windows\SysWOW64\opensc-pkcs11.dll
If I copy it to C:\Windows\System32\opensc-pkcs11.dll I get:

![grafik](https://user-images.githubusercontent.com/12390057/55488295-1a3af080-5630-11e9-8913-70ffaf8d4934.png)

The card works e.g. with IE 11 and Chrome.

[2019-04-03 14:51] rmhrisk commented on #138
@microshine my guess is that driver doesn’t have the 64bit path specified.

Please check the json and update as appropriate.

Jan go ahead and remove the copied file.

[2019-04-03 14:55] microshine commented on #138
Fortify is looking for OpenSC in `%WINDIR/System32/opensc-pkcs11.dll`
https://github.com/PeculiarVentures/webcrypto-local/blob/master/packages/cards/lib/card.json#L378-L386

Please update card.json again
[code]

[2019-04-03 15:11] JanSlabon opened #151 "Add support for '3bbf96008131fe5d00640411040f31c073f701d000900074' token"
Reader name: DATEV Virtueller SmartCard Leser 0
ATR: 3BBF96008131FE5D00640411040F31C073F701D000900074

[code]

[Smart card ATR parsing 3BBF96008131FE5D00640411040F31C073F701D000900074](https://smartcard-atr.appspot.com/parse?ATR=3BBF96008131FE5D00640411040F31C073F701D000900074)

[2019-04-03 15:12] JanSlabon commented on #138
When I update the driver entry to this, I get asked if I want to report new card readers. Again [this](https://github.com/PeculiarVentures/fortify/issues/139) is raised up again. I also get [this](https://github.com/PeculiarVentures/fortify/issues/151).

But I do not see any new provider.

[2019-04-03 15:33] microshine commented on #147
### MacOS
https://info.eidentita.cz/download/InstalacniPrirucka_eObcanka_MacOS.pdf

[code]

### Linux
https://info.eidentita.cz/download/InstalacniPrirucka_eObcanka_Linux.pdf

[code]

[2019-04-03 15:42] microshine commented on #138
Can you disable fortify log and share with me (microshine@mail.ru)?

![image](https://user-images.githubusercontent.com/7333669/55492585-2333be00-5640-11e9-8552-9284e96fb83d.png)

You can find log file in `~/.fortify/fortify.log`.

[2019-04-03 15:47] JanSlabon commented on #138
Here you go: [fortify.log](https://github.com/PeculiarVentures/fortify/files/3039535/fortify.log)

[2019-04-03 19:50] rmhrisk commented on #147
Cool

Let’s do it

[2019-04-03 20:07] microshine commented on #147
The only problem is how to determine that token was issued before 01.07.2018 or not. And what library we should to use

[2019-04-03 20:22] microshine commented on #147
I've published new version of card.json v1.0.22
@vtucan Can you restart Fortify and check that your token works?

[2019-04-03 21:02] microshine commented on #138
I don't see `Provider:Token:Insert` logs for 3bbf96008131fe5d00640411040f31c073f701d000900074
Can you double check that this ATR is in card and has existing driver?

I've updated card.json to v1.0.22. Fortify will rewrite you card.json file on restart
You can disable card.json updating by adding `"disableCardUpdate": false` to `~/.fortify/config.json`

[2019-04-04 06:33] JanSlabon commented on #138
I can use the card in Chrome or IE 11... that's what I know. There was a single setup package, which brought the card to live: https://www.datev.de/web/de/service/software-auslieferung/download-bereich/it-loesungen-und-security/treiber-fuer-smartcard-lesegeraete-und-den-datev-midentity/?stat_Mparam=int_url_datev_sc-treiber

Regarding 1.0.22: does that mean that I should update fority now?

[2019-04-04 07:55] vtucan commented on #147
Works like a charm. Thanks a lot.

IMHO don't bother with Czech eID before 07/2018. It was different card type and practically useless (not intended for online services) . Also you had to pay for the smart card version (standard was to issue the Id without chip).

[2019-04-04 09:20] microshine opened #152 "Support Czech language"
@vtucan Could you translate it?
https://github.com/PeculiarVentures/fortify/tree/master/locale

[2019-04-04 09:23] #147 closed

[2019-04-04 10:14] vtucan commented on #152
I tried my best :)
[cs.json.txt](https://github.com/PeculiarVentures/fortify/files/3042916/cs.json.txt)
Just a comment:

- tag "by" (used in About box) could be "Od společnosti" = "By company". It sounds more Czech than pure "By(Od)" but might be too long
- tag smart.card (and others) - hopefully tags are not combined together in one sentence due to complex declension rules in czech language. All

[2019-04-04 10:19] microshine commented on #152
@vtucan Thank you very much! I'll add it to the next Fortify update

[2019-04-04 10:24] #152 closed

[2019-04-04 11:29] microshine commented on #138
card.json version doesn't depend of Fortify version. You don't need to update Fortify.

I cannot find which PKCS#11 library your token uses. Let's try to use OpenSC again

- Install OpenSC https://github.com/OpenSC/OpenSC/releases/tag/0.19.0
- Update [card.json](https://github.com/PeculiarVentures/fortify/files/3043182/card.json.txt)
- Enable Fortify log
- Restart Fortify

[2019-04-04 12:03] JanSlabon commented on #138
I did this and get:
![grafik](https://user-images.githubusercontent.com/12390057/55554110-46af4500-56e2-11e9-8814-73ddd4f1d8d3.png)
[fortify.log](https://github.com/PeculiarVentures/fortify/files/3043315/fortify.log)

[2019-04-04 12:11] microshine commented on #138
[code]

Can you download ProcessMonitor https://docs.microsoft.com/ru-ru/sysinternals/downloads/procmon and find out which dependecy is missing?

[2019-04-06 05:19] denissm commented on #124
hello there. yes, this one is mine. sorry for late response.

вт, 2 апр. 2019 г. в 20:24, Ryan Hurst <notifications@github.com>:

--
KR, Denis

[2019-04-06 06:08] rmhrisk commented on #124
Sounds like it is closed, if not re-open. Closing.

[2019-04-06 06:29] denissm commented on #124
seems so

сб, 6 апр. 2019 г. в 9:08, Ryan Hurst <notifications@github.com>:

--
KR, Denis

[2019-04-06 07:30] kranidiotis opened #153 "Add support for '3b80800101' token"
Reader name: ACS ACR122U 00 00
ATR: 3B80800101

[code]

[Smart card ATR parsing 3B80800101](https://smartcard-atr.appspot.com/parse?ATR=3B80800101)

[2019-04-06 16:28] rmhrisk commented on #153
@kranidiotis Can you give us some more information, is this a token that can be used for cryptographic operations like document signing?

If not, maybe the right thing for us to do is to create a way to ignore it?

If it is what PKCS#11 library do you use with it?

[2019-04-06 16:33] rmhrisk commented on #153
It looks like this may be a generic ATR for NFC cards supposedly compliant with ISO 14443 Type B?

[2019-04-06 17:20] kranidiotis commented on #153
It is an ACR122 NFC Card reader that reads an IDPrime MD 3840

[2019-04-06 17:42] kranidiotis commented on #153
ATR: 3B 80 80 01 01

ATR: 3B 80 80 01 01
+ TS = 3B --> Direct Convention
+ T0 = 80, Y(1): 1000, K: 0 (historical bytes)
  TD(1) = 80 --> Y(i+1) = 1000, Protocol T = 0
-----
  TD(2) = 01 --> Y(i+1) = 0000, Protocol T = 1
-----
+ Historical bytes:
+ TCK = 01 (correct checksum)

Possibly identified card (using /usr/share/pcsc/smartcard_list.txt):
3B 80 80 01 01
	ISO 14443 Type B without historical by

[2019-04-06 18:01] rmhrisk commented on #153
Interesting; since it is an IDPrime based cared it may work with SafeNet SAC client.

@kranidiotis do you use this middleware?

If so I think this will work:

[code]

If you're on a Mac the steps to update the card mapping are:
- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Restart Fortify

In theory, if the above conditions are met the card should work.

The thing that gives

[2019-04-06 18:05] kranidiotis commented on #129
That is the export from pcsc_scan

0: Gemalto PC Twin Reader (72B7CFD3) 00 00

Sat Apr  6 20:59:27 2019
 Reader 0: Gemalto PC Twin Reader (72B7CFD3) 00 00
  Card state: Card inserted,
  ATR: 3B 7F 96 00 00 80 31 80 65 B0 85 03 00 EF 12 0F FE 82 90 00

ATR: 3B 7F 96 00 00 80 31 80 65 B0 85 03 00 EF 12 0F FE 82 90 00
+ TS = 3B --> Direct Convention
+ T0 = 7F, Y(1): 0111, K: 15 (historical bytes)
  T

[2019-04-06 18:43] rmhrisk commented on #129
I think that this card will work with the SAC client if so this would work:

[code]

The steps to update the card mapping are:

- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Restart Fortify

In theory, if the above conditions are met the card should work.

If so we can add it to the distributed mapping file.

[2019-04-09 03:16] wayne-davidson-tickle commented on #140
Hi @microshine, sorry for the delay on this, I've been on leave. Updating the card.json works.

[2019-04-09 04:19] rmhrisk commented on #140
@wayne-davidson-tickle cool; we will add this to the JSON file and it should just start working for others once that happens.

[2019-04-10 06:34] sl45sms opened #154 "Add support for '3b7f96000080318065b0850300ef120ffe829000' token"
Reader name: Gemalto PC Twin Reader (72B7CFD3) 00 00
ATR: 3B7F96000080318065B0850300EF120FFE829000

[code]

[Smart card ATR parsing 3B7F96000080318065B0850300EF120FFE829000](https://smartcard-atr.appspot.com/parse?ATR=3B7F96000080318065B0850300EF120FFE829000)

[2019-04-10 10:32] sl45sms opened #155 "Add support for '3b80800101' token"
Reader name: ACS ACR122U 00 00
ATR: 3B80800101

[code]

[Smart card ATR parsing 3B80800101](https://smartcard-atr.appspot.com/parse?ATR=3B80800101)

[2019-04-10 10:33] #155 closed

[2019-04-10 10:33] sl45sms commented on #155
sory, already posted

[2019-04-10 14:39] rmhrisk commented on #154
@Panagiotis can you share some details about this card?

- what PKCS 11 library do you use with it and what is the path?
- what is the make and model of the device?

[2019-04-10 14:40] rmhrisk commented on #154
It looks like it might be “Gemalto IDPrime MD 840” is that right? Do you use the SAC client with it?

[2019-04-10 16:22] rmhrisk commented on #154
Closing as dupe of https://github.com/PeculiarVentures/fortify/issues/133

[2019-04-10 16:23] #154 closed

[2019-04-10 16:24] rmhrisk commented on #153
This was reported here also : https://github.com/PeculiarVentures/fortify/issues/155

[2019-04-10 16:25] rmhrisk opened #156 "Add software FIDO/U2F support"
We could add an SW FIDO implementation similar to https://github.com/github/SoftU2F so users of the client could also do 2FA.

[2019-04-10 16:29] rmhrisk commented on #151
It looks like this one would likely work with OpenSC - https://github.com/OpenSC/OpenSC/wiki/TCOS-based-preformatted-cards

[2019-04-10 17:27] rmhrisk opened #157 "Review eID card list and try to support these in Fortify"
https://ec.europa.eu/cefdigital/wiki/display/EIDCOMMUNITY/Overview+of+available+attributes+of+pre-notified+and+notified+eID+schemes

[2019-04-11 19:53] brunohelius opened #158 "Add support for '3b9f958131fe9f006646530501001171df000000000013' token"
Reader name: FS USB Token 0
ATR: 3B9F958131FE9F006646530501001171DF000000000013

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530501001171DF000000000013](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530501001171DF000000000013)

[2019-04-11 21:46] rmhrisk commented on #158
@brunohelius can you tell us anything about this token?

- What is the make and model?
- What is the PKCS#11 library you use with it?
- What operating system re you using it with?

It looks like it might be a Feitian ePass2003?

if so this issue (https://github.com/PeculiarVentures/fortify/issues/146) and yours would likely be resolved once we know what PKCS#11 library works with it.

If it really

[2019-04-11 21:46] rmhrisk commented on #146
If this is really an ePass2003 it might work with this addition to cards.json

If so you can update cards.json with:

[code]

And it might work.

[2019-04-11 22:40] rmhrisk opened #159 "Support for fallback to opensc"
OpenSC when present, has support for a number of cards. We can consider an OpenSC fallback.

[2019-04-12 04:11] madanprabhud commented on #146
Thanks Ryan.

Kindly explain me on driver value, what it represents.

On Fri, Apr 12, 2019 at 3:16 AM Ryan Hurst <notifications@github.com> wrote:

--

*Thanks & Regards,*

D.Madan Prabhu
Contact me: 9861614948 [image: Google Talk/]madan.prabhu.d [image: Y!
messenger/]madan_prabhu

*By the power of truth, I, while living, have conquered the universe.*

[2019-04-12 04:20] rmhrisk commented on #146
Fortify maps cards to the middleware/drivers from the card manufacturer to the card based on a ID that the card has.

In this blob:
[code]

We are saying your card should use the `opensc` middleware.

If you:
- open file ~/.fortify/card.json
- find the cards array
- add the {} value in that JSON to that array
- restart Fortify

In theory, the card should work.

[2019-04-12 06:07] madanprabhud commented on #146
Yes, I understand the basis. But, Would like to know, what the value driver
993988460d8f49a2ac519a2935f11533 represents in original.

Like ATR, i knew what that mean. Would like to know the same for driver
value.

On Fri, Apr 12, 2019 at 9:50 AM Ryan Hurst <notifications@github.com> wrote:

--

*Thanks & Regards,*

D.Madan Prabhu
Contact me: 9861614948 [image: Google Talk/]madan.prabhu.d [image: Y

[2019-04-12 07:25] rmhrisk commented on #146
Each ATR gets mapped to a PKCS#11 library. In the original bug you will see something that looks similar to this:

[code]

The driver GUID in the card object points to the GUID of a driver object, one driver can be mapped to many cards.

[2019-04-23 21:41] DenJohX opened #160 "Add support for '3bfd9600008131fe45000001561964400000000000000a' token"
Reader name: SCM Microsystems Inc. SCR 3310 [CCID Interface] (53311850728093) 00 00
ATR: 3BFD9600008131FE45000001561964400000000000000A

[code]

[Smart card ATR parsing 3BFD9600008131FE45000001561964400000000000000A](https://smartcard-atr.appspot.com/parse?ATR=3BFD9600008131FE45000001561964400000000000000A)

[2019-04-23 23:12] rmhrisk commented on #160
Can you tell us anything about this device?

What is it’s name? Who makes it? What PKCS11 library do you use with it?

[2019-04-25 17:46] DenJohX commented on #160
Hi @rmhrisk

The device is an [identiv SCR3310v2.0](https://www.identiv.com/products/smart-card-readers/contact/scr3310v2/)

Regarding the PKCS11 library I'm not sure, this issue was automatically generated by the latest version of fortify every time I insert the smart card in the reader.

Thanks for the help.

[2019-04-25 18:54] rmhrisk commented on #160
What smart card do you insert into this?

[2019-04-25 19:08] microshine commented on #137
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/130

[2019-04-25 19:08] #137 closed

[2019-04-25 19:10] microshine commented on #151
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/138

[2019-04-25 19:10] #151 closed

[2019-04-25 19:12] microshine commented on #119
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/123

[2019-04-25 19:12] #119 closed

[2019-04-25 19:14] microshine commented on #118
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/136

[2019-04-25 19:14] #118 closed

[2019-04-25 19:16] microshine commented on #158
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/146

[2019-04-25 19:16] #158 closed

[2019-04-25 19:18] microshine commented on #145
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/145

[2019-04-25 19:18] #145 closed

[2019-04-25 19:20] microshine commented on #133
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/129

[2019-04-25 19:20] #133 closed

[2019-04-25 23:51] DenJohX commented on #160
It is a national ID card, the Guatemalan DPI like this example: https://www.consuladoguatemalamiami.org/uploads/8/3/1/6/8316661/published/screen-shot-2017-01-26-at-3-37-10-pm.png

[2019-04-26 06:38] rmhrisk commented on #160
To use this card you must install some middleware, what middleware do you install?

You must also specify a pkcs11 library to use this with other applications, for example, Firefox, what is the fully qualified filename for this library?

[2019-04-26 07:19] microshine commented on #160
You can try to add your PKCS#11 library to the `card.json` file.

Steps to update card.json

- Open file `~/.fortify/card.json`
- Add your card to `"cards"` array
- Update `"driver"` field in the `"card"`
- You can use an existing id from `"drivers"`, or add a new driver to `"drivers"`
- Restart Fortify

Please share your config data after this trying. I'll update and publish new version of Fortif

[2019-04-26 17:20] DenJohX commented on #160
Hi, thanks for the help.

It seems I have to do some work for it to work properly, I will try what you mention and let you know.

Thanks.

[2019-04-26 17:29] rmhrisk commented on #160
@DenJohX once you know what PKCS#11 library you use with this we can help more; we would love to support the card. But I just cant find anything about this card in Google.

Is it provisioned with a certificate?
Is there middleware that lets you use that certificate and key?
Is there a PKCS#11 library, CryptoAPI CSP or MD available for it?

[2019-04-29 14:33] abrbhat opened #161 "Add support for '3b9f958131fe9f006646530501001171df000006000015' token"
Reader name: FT ePass2003Auto 0
ATR: 3B9F958131FE9F006646530501001171DF000006000015

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530501001171DF000006000015](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530501001171DF000006000015)

[2019-04-30 02:09] rmhrisk commented on #161
This looks like a Feitian ePass2003. If so we should be able to point it at the drivers used for other Feitian ePass2003s

[2019-04-30 04:10] abrbhat commented on #161
@rmhrisk Thanks. Any pointers on how to go about it?

[2019-04-30 04:18] rmhrisk commented on #161
Open file ~/.fortify/card.json
Find ePass2003 copy the GUID for the driver
Add the card object from the JSON in this bug but use that GUID as the driver GUID

Restart Fortify
In theory, if the above conditions are met the card should work.

[2019-04-30 07:23] abrbhat commented on #161
@rmhrisk I tried doing what you suggested. I am getting the error:

[code]

How to install opensc-pkcs11.dll?

[2019-04-30 07:53] rmhrisk commented on #161
You can get OpenSC here: https://github.com/OpenSC/OpenSC/wiki/OpenSC-Windows-installer

But I am curious if you do not currently have the OpenSC middleware installed are you using this token for anything currently?

If so do you know if you are using it via a CSP/KSP, or a PKCS#11 library?

If so which one?

[2019-04-30 08:18] rmhrisk commented on #161
@microshine We may want to add support for masks on matching to reduce the number of entries needed. Of course, the tricky part is figuring out what those masks should be :)

![image](https://user-images.githubusercontent.com/1619279/56948700-d4872000-6b28-11e9-90b1-c12b930d57af.png)

[2019-04-30 08:37] microshine commented on #161
Duplicate issue https://github.com/PeculiarVentures/fortify/issues/146

[2019-04-30 10:31] #161 closed

[2019-04-30 15:08] abrbhat commented on #146
I tried the method suggested above. Installed Open SC.
Added the following to card.json:
[code]
and updated the driver path to OpenSC driver path as:
[code]

Now getting the error:
[code]

Any suggestions?

[2019-04-30 19:15] rmhrisk commented on #146
@abrbhat There is a menu item that produces logs:
![image](https://user-images.githubusercontent.com/1619279/56987195-b0592c80-6b84-11e9-8559-f44b3edc4d91.png)

Can you get those logs and share them here?

[2019-05-01 10:20] abrbhat commented on #146
@rmhrisk

[code]

[2019-05-01 15:16] rmhrisk commented on #146
Strange, it seems that version of opensc at least does’t like that version of that card.

Are you using this card with other middleware? For example via a CSP?

[2019-05-01 17:08] abrbhat commented on #146
I had just got that card so have been trying to figure out how to use it. Have now got it working now with the CSP shipped with the token through node-webcrypto-p11. Will open an issue with OpenSC regarding the token incompatibility.
Thanks a lot for your help @rmhrisk

[2019-05-01 17:34] rmhrisk commented on #146
It seems to me that since your on Windows the token should have worked in Fortify with just the CSP there.

Was the CSP not installed before?

[2019-05-01 17:48] abrbhat commented on #146
Yeah needed to update the CSP.

[2019-05-01 22:15] rmhrisk commented on #146
And if you reverted the card.jaon, removes the opensc install and had the updated CSP Fortify worked?

[2019-05-02 04:13] abrbhat commented on #146
Yes, Fortify is working after reverting card.json and uninstalling OpenSC.

[2019-05-07 01:09] NickHarrington1 commented on #140
Hi @rmhrisk, @microshine  just checking in on when the fix will be added to the JSON file?

[2019-05-07 01:57] rmhrisk commented on #140
@NickHarrington1 We hope to get a new release out in the next month we have been finishing up another project that has taken up our time.

/cc @microshine

[2019-05-07 03:27] NickHarrington1 commented on #140
Thanks @rmhrisk for the update. I'll touch base early next month to see how the release is tracking

[2019-06-04 23:10] microshine opened #162 "Improve logs for SSL certificate enrollment"
Add logs about certificate generation/installation

[2019-06-11 12:48] goodalang opened #163 "Add support for '3bd8960081b1fe451f0743485447504b494add' token"
Reader name: CASTLES EZ100PU 0
ATR: 3BD8960081B1FE451F0743485447504B494ADD

[code]

[Smart card ATR parsing 3BD8960081B1FE451F0743485447504B494ADD](https://smartcard-atr.appspot.com/parse?ATR=3BD8960081B1FE451F0743485447504B494ADD)

[2019-06-11 12:48] #163 closed

[2019-06-11 12:49] goodalang commented on #163
test

[2019-06-12 01:53] gilluan opened #164 "Add support for '3bfd1800008131fe4553434536302d43433038312d46c2' token"
Reader name: Giesecke & Devrient GmbH StarSign CUT 0
ATR: 3BFD1800008131FE4553434536302D43433038312D46C2

[code]

[Smart card ATR parsing 3BFD1800008131FE4553434536302D43433038312D46C2](https://smartcard-atr.appspot.com/parse?ATR=3BFD1800008131FE4553434536302D43433038312D46C2)

[2019-06-12 04:02] rmhrisk commented on #164
Can your you share some details about this token?

What form factor is it? Is it a card or token?

What model is it?

What PKCS11 library do you use with it?

What is the path to that PKCS11 library?

[2019-06-14 08:17] PaulLoth opened #165 "Add support for '3bdb960080b1fe451f830012233f536549440f9000f1' token"
Reader name: ACS CCID USB Reader 0
ATR: 3BDB960080B1FE451F830012233F536549440F9000F1

[code]

[Smart card ATR parsing 3BDB960080B1FE451F830012233F536549440F9000F1](https://smartcard-atr.appspot.com/parse?ATR=3BDB960080B1FE451F830012233F536549440F9000F1)

[2019-06-14 08:27] rmhrisk commented on #165
Can you provide more detail about this token? Specifically what PKCS11 library do you use with it?

[2019-06-14 08:32] PaulLoth commented on #165
Hi there,

This token is simply the most recent E-Residency card by the Estonian
government. I saw in your list that Estonian residency cards are supported,
perhaps this error lies somewhere else?

Kind regards,

Paul Loth

On Fri, 14 Jun 2019 at 10:27, Ryan Hurst <notifications@github.com> wrote:

[2019-06-14 08:32] rmhrisk commented on #165
Thanks, I’ll get this added to the config for the Estonian middleware.

[2019-06-14 08:34] PaulLoth commented on #165
Thanks for the quick reply, cheers!

On Fri, 14 Jun 2019 at 10:32, Ryan Hurst <notifications@github.com> wrote:

[2019-06-15 22:21] thundeR2GE opened #166 "Add support for '3bfc180000813180459067464a00641606f2727e00e0' token"
Reader name: Generic EMV Smartcard Reader 0
ATR: 3BFC180000813180459067464A00641606F2727E00E0

[code]

[Smart card ATR parsing 3BFC180000813180459067464A00641606F2727E00E0](https://smartcard-atr.appspot.com/parse?ATR=3BFC180000813180459067464A00641606F2727E00E0)

[2019-06-16 02:56] rmhrisk commented on #166
What PKCS11 library do you use with this?

[2019-06-16 03:00] thundeR2GE commented on #166
from NPM I seem to get issues, so no library (I think)

[2019-06-16 04:59] rmhrisk commented on #166
Must use a library to interact with it, can you describe how you use it today?

[2019-06-16 05:01] rmhrisk commented on #166
This is looks like a PIV card, if your not specifying a library my guess is OpenSC is being used.

[2019-06-16 17:14] thundeR2GE commented on #166
ah, this narrows my search for a solution. Thank you!

[2019-06-17 06:04] rmhrisk commented on #166
Reopening, we will add this to card.json and it will work out of the box with Fortify

[2019-06-17 09:46] richardabbott52 opened #167 "Add support for '3b8980014a434f5034315632324d' token"
Reader name: OMNIKEY CardMan 5x21-CL 0
ATR: 3B8980014A434F5034315632324D

[code]

[Smart card ATR parsing 3B8980014A434F5034315632324D](https://smartcard-atr.appspot.com/parse?ATR=3B8980014A434F5034315632324D)

[2019-06-17 09:48] microshine commented on #167
You can try to add your PKCS#11 library to the card.json file.

Steps to update card.json

- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Update "driver" field in the "card"
- You can use an existing id from "drivers", or add a new driver to "drivers"
- Restart Fortify

Please share your config data after this trying. I'll update and publish the new version of Fortify.

[2019-06-18 21:43] CrossPT opened #168 "Add support for '3b7d95000080318065b0831100c883009000' token"
Reader name: Generic Smart Card Reader Interface 0
ATR: 3B7D95000080318065B0831100C883009000

[code]

[Smart card ATR parsing 3B7D95000080318065B0831100C883009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D95000080318065B0831100C883009000)

[2019-06-19 02:20] rmhrisk commented on #168
This appears to be a Portuguese ID Card. Is that right? What PKCS11 library do you use this with?

[2019-06-19 06:59] CrossPT commented on #168
Yes, this is the Portuguese id Card.
The PKCS11 library used is the pteidpkcs11.

[2019-06-19 09:31] rmhrisk commented on #168
What path can that file be found on your machine?

[2019-06-19 09:59] CrossPT commented on #168
Hi, the path is provided after installing the middleware provided by the portuguese gov (Link).
Paths:

**- Windows**
- C:\Windows\System32\pteidpkcs11.dll
**- Linux**
- /usr/local/lib/libpteidpkcs11.so
**- Mac OS X**
- /usr/local/lib/libpteidpkcs11.dylib

If you guys want, i can provide you portuguese language options to your Fortify app.

[2019-06-19 17:13] rmhrisk commented on #168
Happy to take a PR for the translation!

We will add this in the next update.

[2019-06-19 17:16] rmhrisk commented on #168
I updated the above JSON, you can try to add that to your card.json and see if it works:

- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Update "driver" field in the "card"
- You can use an existing id from "drivers", or add a new driver to "drivers"
- Restart Fortify

Please share your config data after this trying. I'll update and publish the new version of Fortify.

[2019-06-19 17:17] rmhrisk commented on #167
@richardabbott52 this appears to be a `New Zealand e-Passport` does it have a PKCS#11 library? If so where is it on your system?

[2019-06-19 22:19] CrossPT commented on #168
Hi. I also updated the above JSON so it handles the WINDIR correctly.

[2019-06-19 22:28] CrossPT commented on #168
Added the json to ~/.fortify/card.json. When setting the provider as "Portuguese ID CARD (eID)" I get the following error: CKR_ATTRIBUTE_VALUE_INVALID

[2019-06-20 04:20] rmhrisk commented on #168
Can you reproduce the error and attached a log file to the bug.

[2019-06-20 10:41] CrossPT commented on #168
Here's the log.

[fortify.log](https://github.com/PeculiarVentures/fortify/files/3309996/fortify.log)

[2019-06-20 12:30] microshine commented on #168
It throws an exception on trying to get a list of certificates/requests

Here are templates for `C_FindObjectsInit` function
https://github.com/PeculiarVentures/node-webcrypto-p11/blob/master/src/cert_storage.ts#L8-L11

[code]

[2019-06-24 20:55] samuelb97 opened #170 "Add support for '3bd6970081b1fe451f878031c152211a4b' token"
Reader name: HID Global OMNIKEY 3x21 Smart Card Reader 0
ATR: 3BD6970081B1FE451F878031C152211A4B

[code]

[Smart card ATR parsing 3BD6970081B1FE451F878031C152211A4B](https://smartcard-atr.appspot.com/parse?ATR=3BD6970081B1FE451F878031C152211A4B)

[2019-06-24 22:00] samuelb97 commented on #170
It is a PIV-I card

[2019-06-24 23:46] rmhrisk commented on #170
Thanks @samuelb97 it should work with the sample cards.json info above.

Would you mind testing it?
- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Restart Fortify

Also what kind of PIV-I card?

[2019-06-25 02:19] samuelb97 commented on #170
Its a PIV-Interoperable smart card. I added the card but the token for the driver changes as I get the same error. Where would I find the pkcs11.dll file?

[2019-06-25 03:55] rmhrisk commented on #170
We try to name the cards we support so people can know what’s been tested to work. Do you know the make and model of this card?

As for where the P11 can be found, I am presuming based on your description so far that the P11 listed in the cards.json file with the id of 993988460d8f49a2ac519a2935f11533

Will work with the card, without more details though I’m just guessing.

As for it not working,

[2019-06-25 05:08] samuelb97 commented on #170
I set the driver to the open-sc one you mentioned. Got a different error saying it could not find my open-sc-pksc11.dll fil but the path is right. Thank you for the help

**Log**

{"message":"Application started at Tue Jun 25 2019 00:55:58 GMT-0400 (Eastern Daylight Time)","level":"info"}
{"message":"OS win32 ia32 ","level":"info"}
{"message":"Fortify v1.0.19","level":"info"}
{"message":"System lo

[2019-06-25 09:53] microshine commented on #170
Are you sure that OpenSC supports this card?
I found only 2 ATRs in OpenSC source code which starts with "3b:d6"
https://github.com/OpenSC/OpenSC/blob/master/src/libopensc/card-asepcos.c#L41-L42

Can you try opensc-tools for your card getting?

[2019-06-25 10:11] microshine commented on #170
Do you see certificates from your card in My storage from `certmgr.msc`? Fortify uses Windows API `crypt32.dll` for card reading but it doesn't support CSP providers

[2019-06-26 06:38] samuelb97 commented on #170
I can see my certificates for the card in the certmgr.msc.

When I use the opensc-tools, I can see the card but get error finding files?

<img width="409" alt="OpenSC feedback" src="https://user-images.githubusercontent.com/30537308/60156829-5f983580-97bb-11e9-877b-6c6d96d952a8.PNG">

[2019-06-26 07:32] kombatminipig opened #171 "Unable to find middleware for YubiKey on MacOS"
System: MacOS 10.14.4, YubiKey 4

Hi, I've been trying to evaluate my YubiKey on my Mac. The YubiKey firmware is installed, and I can use it end to end coupled with OpenSC. When I plug in the key, Fortify gives an error that /usr/local/lib/libykcs11.dylib does not exist (which it indeed does not), see screenshot.

While I suspect that this is due to Yubico making changes on their end, I thought I'

[2019-06-26 13:27] rmhrisk commented on #171
Do you use a different PKCS11 library for it than the above listed one?

How do you use this card normally?

Have you tried installing OpenSC?

[2019-06-27 07:56] kombatminipig commented on #171
Hi Ryan,

I use OpenSC's (see above) PKCS#11 lib, on my instance it's located at /Library/OpenSC/lib/opensc-pkcs11.so

Everything is using YubiKey's Manager and OpenSC's default MacOS installer, and I'm using the card to present an authentication certificate using FireFox, which works fine.

Cheers,
Mike

[2019-06-27 11:39] joaohenriquepda opened #172 "Ubuntu environment- Cryptographic Providers"
![Screenshot from 2019-06-27 08 29 04](https://user-images.githubusercontent.com/3011061/60263442-0ad9e500-98b7-11e9-99b3-6ca496d7d4c6.png)

[2019-06-27 14:57] rmhrisk commented on #171
@microshine how do we specify multiple paths for a platform?

[2019-06-27 15:34] microshine commented on #171
[code]

[2019-06-27 15:39] rmhrisk commented on #171
@kombatminipig will you try this config and see if it works?

[2019-06-27 21:58] Adolfo25071981 opened #173 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-06-27 22:51] rmhrisk commented on #173
This appears to be “Digital Signature Costa Rica (eID)” is that right?

What is the path to the PKCS#11 library you use it with?

[2019-06-28 15:35] Adolfo25071981 opened #174 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-06-28 15:36] #174 closed

[2019-07-01 07:06] microshine commented on #172
Can you enable logging and share `~/.fortify/fortify.log` file?

You can enable logging in two ways

1. Tray icon
![image](https://user-images.githubusercontent.com/7333669/60416749-40e4d500-9be7-11e9-9675-84972b11c086.png)
2. `~/.fortify/config.json`
[code]

[2019-07-01 14:06] fgpadilla opened #175 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 15:42] luismontero32356 opened #176 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 15:57] jlorosi opened #177 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 16:10] jlorosi opened #178 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 16:11] marvinmata opened #179 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 16:12] Topojef opened #180 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 16:23] rmhrisk commented on #180
@Topojef this appears to be "Digital Signature Costa Rica (eID)"

What is the path to the PKCS#11 you use with this card?

[2019-07-01 16:23] rmhrisk commented on #178
@jlorosi this appears to be "Digital Signature Costa Rica (eID)"

What is the path to the PKCS#11 you use with this card?

[2019-07-01 16:23] rmhrisk commented on #179
@marvinmata this appears to be "Digital Signature Costa Rica (eID)"

What is the path to the PKCS#11 you use with this card?

[2019-07-01 16:24] rmhrisk commented on #177
@jlorosi this appears to be "Digital Signature Costa Rica (eID)"

What is the path to the PKCS#11 you use with this card?

[2019-07-01 16:24] rmhrisk commented on #176
@luismontero32356 this appears to be "Digital Signature Costa Rica (eID)"

What is the path to the PKCS#11 you use with this card?

[2019-07-01 16:24] rmhrisk commented on #175
@fgpadilla this appears to be "Digital Signature Costa Rica (eID)"

What is the path to the PKCS#11 you use with this card?

[2019-07-01 16:28] rmhrisk commented on #180
We still need this information to add support but closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 16:28] #180 closed

[2019-07-01 16:28] rmhrisk commented on #179
We still need this information to add support but closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 16:28] #179 closed

[2019-07-01 16:28] rmhrisk commented on #178
We still need this information to add support but closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 16:28] #178 closed

[2019-07-01 16:28] rmhrisk commented on #176
We still need this information to add support but closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 16:28] #176 closed

[2019-07-01 16:28] rmhrisk commented on #175
We still need this information to add support but closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 16:28] #175 closed

[2019-07-01 17:02] jlorosi commented on #177
ayuda

[2019-07-01 17:06] Melvin06 opened #181 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 17:11] rmhrisk commented on #177
@jlorosi do you have a path to the PKCS#11 for this card?

[2019-07-01 17:11] jlorosi opened #182 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 17:12] rmhrisk commented on #182
We need the path to the PKCS#11 library to add support for this card. Please provide it.

In the meantime, I am closing this as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 17:12] #182 closed

[2019-07-01 17:12] rmhrisk commented on #181
@Melvin06 We need the path to the PKCS#11 library to add support for this card. Please provide it.

In the meantime, I am closing this as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 17:12] rmhrisk commented on #177
We need the path to the PKCS#11 library to add support for this card.

In the meantime, I am closing this as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-01 17:12] #177 closed

[2019-07-01 17:14] #181 closed

[2019-07-01 18:19] MFTopografiacr opened #183 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 19:14] rmhrisk commented on #183
This looks like it is “Digital Signature Costa Rica (eID)” do you have the path to the PKCS11 library for this token?

[2019-07-01 19:15] rmhrisk commented on #183
Closing as a dupe if: https://github.com/PeculiarVentures/fortify/issues/173

Please help with the additional information.

[2019-07-01 19:15] #183 closed

[2019-07-01 19:19] dwongq opened #184 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 19:21] dwongq opened #185 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 19:46] rmhrisk commented on #185
Closing as a dupe of: https://github.com/PeculiarVentures/fortify/issues/173

If you can help with the additional details needed to add support it would be great.

[2019-07-01 19:46] #185 closed

[2019-07-01 19:46] rmhrisk commented on #184
Closing as a dupe of: https://github.com/PeculiarVentures/fortify/issues/173

If you can help with the additional details needed to add support it would be great.

[2019-07-01 19:46] #184 closed

[2019-07-01 19:57] AlexisMurillo opened #186 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 20:16] carloslaurito opened #187 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 20:30] BEATRIVIOR opened #188 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 20:35] richardabbott52 opened #189 "Add support for '3b8f800100664653051000ff71df000000000039' token"
Reader name: Feitian R502 Contactless Reader 0
ATR: 3B8F800100664653051000FF71DF000000000039

[code]

[Smart card ATR parsing 3B8F800100664653051000FF71DF000000000039](https://smartcard-atr.appspot.com/parse?ATR=3B8F800100664653051000FF71DF000000000039)

[2019-07-01 20:36] richardabbott52 opened #190 "Add support for '3b8f800100664653051000ff71df000000000039' token"
Reader name: Feitian R502 Contactless Reader 0
ATR: 3B8F800100664653051000FF71DF000000000039

[code]

[Smart card ATR parsing 3B8F800100664653051000FF71DF000000000039](https://smartcard-atr.appspot.com/parse?ATR=3B8F800100664653051000FF71DF000000000039)

[2019-07-01 22:08] Chrischacon opened #191 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive IIIe USB 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-01 23:16] fgpadilla opened #192 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 00:30] rmhrisk commented on #192
Closing as a dupe of: #173

If you can help with the additional details needed to add support it would be great.

[2019-07-02 00:30] #192 closed

[2019-07-02 00:31] rmhrisk commented on #191
Closing as a dupe of: #173

If you can help with the additional details needed to add support it would be great.

[2019-07-02 00:31] #191 closed

[2019-07-02 00:31] rmhrisk commented on #188
Closing as a dupe of: #173

If you can help with the additional details needed to add support it would be great.

[2019-07-02 00:31] #188 closed

[2019-07-02 00:31] rmhrisk commented on #187
Closing as a dupe of: #173

If you can help with the additional details needed to add support it would be great.

[2019-07-02 00:31] #187 closed

[2019-07-02 00:31] rmhrisk commented on #186
Closing as a dupe of: #173

If you can help with the additional details needed to add support it would be great.

[2019-07-02 00:31] #186 closed

[2019-07-02 00:32] rmhrisk commented on #190
@richardabbott52 can you tell us what kind of card this is? what is the fully qualified path to the PKCS#11 library you use this card with?

[2019-07-02 00:33] rmhrisk commented on #189
Closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/190

[2019-07-02 02:10] JdCW-0576 opened #193 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 02:48] erickesma10 opened #194 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 02:54] erickesma10 opened #195 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 03:06] erickesma10 opened #196 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 03:06] #194 closed

[2019-07-02 03:06] #195 closed

[2019-07-02 03:06] #196 closed

[2019-07-02 04:25] rmhrisk commented on #196
Dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-02 04:25] rmhrisk commented on #195
Dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-02 04:25] rmhrisk commented on #194
Dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2019-07-02 04:25] rmhrisk commented on #194
@erickesma10 if you have the path for this P11 library we would appreciate it.

[2019-07-02 04:26] rmhrisk commented on #193
Closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

If you have the path to this PKCS#11 library we would appreciate it.

[2019-07-02 04:26] #193 closed

[2019-07-02 05:06] #189 closed

[2019-07-02 05:06] #190 closed

[2019-07-02 14:47] Adolfo25071981 opened #197 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 14:47] #197 closed

[2019-07-02 15:34] Carlosgv1977 opened #198 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:02] JdCW-0576 opened #199 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive V3CR 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:03] EduardoMoralesValle opened #200 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:04] EduardoMoralesValle opened #201 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:20] EduardoMoralesValle opened #202 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:20] #202 closed

[2019-07-02 16:36] EduardoMoralesValle opened #203 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:51] EduardoMoralesValle opened #204 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 16:53] rmhrisk commented on #204
Closing as a duplicate of https://github.com/PeculiarVentures/fortify/issues/173

Please provide us details on the PKCS#11 library used with this token so we can add support for it.

[2019-07-02 16:53] #204 closed

[2019-07-02 16:53] rmhrisk commented on #203
Closing as a duplicate of https://github.com/PeculiarVentures/fortify/issues/173

Please provide us details on the PKCS#11 library used with this token so we can add support for it.

[2019-07-02 16:53] rmhrisk commented on #201
Closing as a duplicate of https://github.com/PeculiarVentures/fortify/issues/173

Please provide us details on the PKCS#11 library used with this token so we can add support for it.

[2019-07-02 16:53] #203 closed

[2019-07-02 16:53] #201 closed

[2019-07-02 16:54] rmhrisk commented on #200
Closing as a duplicate of https://github.com/PeculiarVentures/fortify/issues/173

Please provide us details on the PKCS#11 library used with this token so we can add support for it.

[2019-07-02 16:54] #200 closed

[2019-07-02 16:54] rmhrisk commented on #199
Closing as a duplicate of https://github.com/PeculiarVentures/fortify/issues/173

Please provide us details on the PKCS#11 library used with this token so we can add support for it.

[2019-07-02 16:54] #199 closed

[2019-07-02 16:54] rmhrisk commented on #198
Closing as a duplicate of https://github.com/PeculiarVentures/fortify/issues/173

Please provide us details on the PKCS#11 library used with this token so we can add support for it.

[2019-07-02 16:54] #198 closed

[2019-07-02 17:57] EduardoMoralesValle opened #205 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 17:59] microshine commented on #205
#173

[2019-07-02 17:59] #205 closed

[2019-07-02 18:05] EduardoMoralesValle opened #206 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 18:05] microshine commented on #206
#173

[2019-07-02 18:06] #206 closed

[2019-07-02 19:26] asotoba opened #207 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 20:39] joseaquesada opened #208 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 20:45] joseaquesada opened #209 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 20:47] microshine commented on #207
See #173

[2019-07-02 20:47] #207 closed

[2019-07-02 20:47] microshine commented on #209
See #173

[2019-07-02 20:47] #209 closed

[2019-07-02 20:48] microshine commented on #208
See #173

[2019-07-02 20:48] #208 closed

[2019-07-02 21:48] Chrischacon commented on #191
Thanks

*Ing. Christian Stanley Chacón Barquero *
*(+506)88342020*
*(+506)22565674 *
*Email:  chrischacon@gmail.com <chrischacon@gmail.com>*
https://www.facebook.com/ChristianStanleyChaconBarquero

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=l

[2019-07-02 22:13] rmhrisk commented on #191
@Chrischacon can you help us with sharing the path to the PKCS#11 library you use with this card?

[2019-07-02 22:39] Chrischacon commented on #191
I have no idea what the question is.
I have very basic computer knowledge.

*Ing. Christian Stanley Chacón Barquero *
*(+506)88342020*
*(+506)22565674 *
*Email:  chrischacon@gmail.com <chrischacon@gmail.com>*
https://www.facebook.com/ChristianStanleyChaconBarquero

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avas

[2019-07-02 23:38] rmhrisk commented on #191
Where do you get the software for your national ID card? If you provide us a link we can probably figure it out.

[2019-07-02 23:52] AlexisMurillo opened #210 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-02 23:54] and333jj opened #211 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 00:14] Chrischacon commented on #191
I will try to explain, with my knowlegde.
I am a surveyor.
I am asociated to the NAtional Engeneer federation , which a mandatory
asociation to work,
This week they started the digital firm for the platform that requieres to
send and receive surveyor maps of lands.
That is why.

*Ing. Christian Stanley Chacón Barquero *
*(+506)88342020*
*(+506)22565674 *
*Email:  chrischacon@gmail.com <chrischacon

[2019-07-03 02:54] rmhrisk commented on #191
Thank you.

Do you have the URL to the firma solution you use?

[2019-07-03 02:55] #211 closed

[2019-07-03 02:55] #210 closed

[2019-07-03 03:23] NAVIGLEZ opened #212 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 14:20] Mlopez2188 opened #213 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 14:31] #213 closed

[2019-07-03 14:31] #212 closed

[2019-07-03 14:42] Mlopez2188 opened #214 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 14:42] #214 closed

[2019-07-03 14:45] EduardoMoralesValle opened #215 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 16:01] #215 closed

[2019-07-03 17:28] Dgonza531 opened #216 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 17:35] Fachasoto19 opened #217 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 18:02] #217 closed

[2019-07-03 18:02] #216 closed

[2019-07-03 20:31] rogerrojasbogantes opened #218 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 20:31] #218 closed

[2019-07-03 20:36] and333jj opened #219 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 20:37] ChristianPenaJuarez1977 opened #220 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 20:37] #219 closed

[2019-07-03 20:37] and333jj commented on #219
bbbbbbbbbbbbbnnnn

[2019-07-03 20:38] ChristianPenaJuarez1977 opened #221 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 20:39] #221 closed

[2019-07-03 20:45] rogerrojasbogantes opened #222 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 21:25] n10w84 opened #223 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: OMNIKEY AG Smart Card Reader USB 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-03 22:43] ChristianPenaJuarez1977 opened #224 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-04 16:14] #222 closed

[2019-07-04 16:14] #223 closed

[2019-07-04 16:14] #220 closed

[2019-07-04 16:15] #224 closed

[2019-07-04 16:41] Fachasoto19 opened #225 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-04 16:45] Fachasoto19 opened #226 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-04 16:48] joseaquesada opened #227 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-04 17:27] #227 closed

[2019-07-04 17:27] #226 closed

[2019-07-04 17:27] #225 closed

[2019-07-04 17:40] EnriqueInge opened #228 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: OMNIKEY CardMan 3x21 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-04 17:52] aazcast commented on #173
Hi.

I just find the correct PKCS#11 library you for this one.
attached screenshot where i test on card.json
![eid](https://user-images.githubusercontent.com/9424920/60682843-1ba7cf00-9e52-11e9-8f0a-e393f7689f3e.jpg)

I will test today on windows, just to confirm the solution to this bug.

[2019-07-04 19:03] Fachasoto19 opened #229 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-07-04 20:42] aazcast commented on #173
Hi.
The correct library to solve this issue is this one:
[code]

I just verify fortify is using @webcrypto-local/cards "version": "1.0.22".
the new version "1.0.23" updated 14 hours ago already have the correction.

with that should work.

[2019-07-04 21:54] rmhrisk commented on #173
Thanks!! We published a new card.json so this should now work for those with that card.

We have also just created a new release that lets users say don’t prompt for bug creation again.

[2019-07-04 22:25] rmhrisk commented on #229
We have just released a new update that should add support for this card.

[2019-07-04 22:25] #229 closed

[2019-07-04 22:26] rmhrisk commented on #228
We have just released a new update that should add support for this card.

[2019-07-04 22:26] #228 closed

[2019-07-04 22:26] rmhrisk commented on #229
#173

[2019-07-04 22:27] rmhrisk commented on #228
#173

[2019-07-04 22:27] rmhrisk commented on #227
#173

[2019-07-04 22:27] rmhrisk commented on #226
#173

[2019-07-04 22:27] rmhrisk commented on #224
#173

[2019-07-04 22:27] rmhrisk commented on #223
#173

[2019-07-04 22:27] rmhrisk commented on #222
#173

[2019-07-04 22:27] rmhrisk commented on #220
#173

[2019-07-04 22:28] rmhrisk commented on #219
#173

[2019-07-04 22:28] rmhrisk commented on #218
#173

[2019-07-04 22:28] rmhrisk commented on #216
#173

[2019-07-04 22:28] rmhrisk commented on #212
#173

[2019-07-04 22:28] rmhrisk commented on #211
#173

[2019-07-05 18:24] microshine opened #231 "App crashes on start"
Some PKCS#11 libraries crash application. There must be a pause between library loading and initialization

[code]

Maybe there is a way to check library loading state without timeout

[2019-07-09 11:56] xanrag opened #232 "Add support for '3b7d96000080318065b0a31100c883009000' token"
Reader name: OMNIKEY CardMan 3x21 0
ATR: 3B7D96000080318065B0A31100C883009000

[code]
[Smart card ATR parsing 3B7D96000080318065B0A31100C883009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D96000080318065B0A31100C883009000)

This is the Swedish SITHS card using the SecMaker NetID application. I can provide more information if I know what is needed.

[2019-07-09 14:42] rmhrisk commented on #232
That’s great.

What is the path to the PKCS11 on your system, and other supported platforms if your aware?

[2019-07-09 18:53] xanrag commented on #232
There is no file named that, but they do have some technical specifications on their website ( https://service.secmaker.com/examples/pkcs11.aspx ) which would point towards:
%PROGRAMFILES%\Net iD\iidp11.dll

[2019-07-09 19:40] rmhrisk commented on #232
Yes, based on that link and this [one](https://library.secmaker.com/hubfs/Support%20Documentation/NetiD_Enterprise_Technical_Description_v6.4.pdf) it does sound like it would be:
- Windows ”%PROGRAMFILES%\Net iD\iid.dll"
- Linux: "/usr/lib/libiidp11.so"
- OSX: "/usr/lib/libiidp11.dylib”

[2019-07-09 19:44] rmhrisk commented on #232
I have updated the above json to represent what "should" work for the card. Can you try it?

If you're on a Mac the steps to update the card mapping are:

- Open file ~/.fortify/card.json
- Add your card to "cards" array
- Restart Fortify

[2019-07-10 09:12] xanrag commented on #232
I tried with iid.dll but it said it didn't work. Then I switched to iidp11.dll and Fortify crashes instead. Mostly silently but once I got:

Unhandled exception at 0x00007FF942231CD0 (ntdll.dll) in fortify.exe: 0xC0000374: A heap has been corrupted (parameters: 0x00007FF94226ED40). occurred

The last lines in the log is inserting the card:

{"message":"PCSCWatcher: New reader detected OMNIKEY Card

[2019-07-11 08:14] pinpan opened #233 "Add support for '3bdb960080b1fe451f830031c064c7fc100001900074' token"
Reader name: ACS ACR38U-CCID 00 00
ATR: 3BDB960080B1FE451F830031C064C7FC100001900074

[code]

[Smart card ATR parsing 3BDB960080B1FE451F830031C064C7FC100001900074](https://smartcard-atr.appspot.com/parse?ATR=3BDB960080B1FE451F830031C064C7FC100001900074)

[2019-07-11 14:08] rmhrisk commented on #233
Thanks for the bug, can you share some more detail with us about the card?

It looks like it may be a:
Oberthur Cosmo

Is that right?

What PKCS11 library do you use with it?

What is the fully qualified path to that library?

[2019-07-13 14:51] SpiReCZ commented on #135
All i know about the card reader:

- name: Gemalto PC Twin Reader (Gemalto GemPC Twin USB )

- drivers: https://www.csas.cz/PKIReader

[2019-07-19 17:03] Jebusito opened #234 "Add support for '3b9f118131fe9f006a6d546f6b656e2d46000081900079' token"
# Autogenerated

Reader name: Longmai mToken CryptoIDE 0
ATR: 3B9F118131FE9F006A6D546F6B656E2D46000081900079

[code]

[Smart card ATR parsing 3B9F118131FE9F006A6D546F6B656E2D46000081900079](https://smartcard-atr.appspot.com/parse?ATR=3B9F118131FE9F006A6D546F6B656E2D46000081900079)

# Extra data:
PKCS#11 path(64bit) : C:\WINDOWS\system32\cryptoide_pkcs11.dll
PKCS#11 path(32bit) : C:\WINDOWS\sysWOW6

[2019-07-28 09:54] AnasTHH opened #235 "Add support for '3b6a00008065a20131013d72d641' token"
Reader name: ACS CCID USB Reader 0
ATR: 3B6A00008065A20131013D72D641

[code]

[Smart card ATR parsing 3B6A00008065A20131013D72D641](https://smartcard-atr.appspot.com/parse?ATR=3B6A00008065A20131013D72D641)

[2019-07-28 14:37] rmhrisk commented on #235
This appears to be a “Emirates ID (eID)”

Do you have the paths to where we can find the PKCS11 libraries for this?

[2019-07-29 05:48] AnasTHH commented on #235
I can provide you SDK which contains all DLL files.

[2019-07-29 11:29] rmhrisk commented on #235
Where do those files get installed and what filename?

[2019-07-30 07:54] JanSlabon opened #236 "Update copyright year in about dialog"
It currently shows **2017**. May look outdated to new users.

[2019-07-30 13:39] rmhrisk commented on #236
We will update the about dialog when we do next release

[2019-07-31 20:17] arojas99 opened #237 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: miniLector Pocket V2 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2019-08-01 01:42] rmhrisk commented on #237
This appears to be a “Digital Signature Costa Rica (eID)”

[2019-08-01 17:48] brunohelius opened #238 "Add support for '3b9f958131fe9f006646530501001171df000000000013' token"
Reader name: Feitian ePass2003
ATR: 3B9F958131FE9F006646530501001171DF000000000013

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530501001171DF000000000013](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530501001171DF000000000013)

[2019-08-01 21:24] rmhrisk commented on #238
Looks like new ATR for “Feitian ePass2003 token”

[2019-08-07 14:16] brunohelius commented on #238
Does it support or is it a bug?

[2019-08-07 18:54] rmhrisk commented on #238
@brunohelius we can add support easily @microshine please add this ATR to Fietan ePass2003 configuration.

[2019-08-09 12:27] dpccrt87 opened #239 "Add support for '3b7d96000080318065b0830201f383009000' token"
Reader name: Gemalto USB Key Smart Card Reader 0
ATR: 3B7D96000080318065B0830201F383009000

[code]

[Smart card ATR parsing 3B7D96000080318065B0830201F383009000](https://smartcard-atr.appspot.com/parse?ATR=3B7D96000080318065B0830201F383009000)

[2019-08-09 14:33] microshine commented on #239
Please try to add your smart card via `~/.fortify/config.json`editing.

Add this option to your config.json file
[code]

Please change `libraries` path to your PKCS#11 library path.
You need to restart Fortify to apply new config.

[2019-08-10 10:23] dpccrt87 commented on #239
Hi microshine,
Thank you for reply.
I want to know what are the steps to follow to implement fortify with my JS code [?](https://stackoverflow.com/questions/57394585/how-to-get-x-509-certificate-from-hardware-in-javascript) So that I can, in the end, generate my certificate from my code js

[2019-08-10 14:23] rmhrisk commented on #239
There is information on the FortifyApp.com page, in particular a link to the documentation: https://peculiarventures.github.io/webcrypto-local/docs/

There are also examples here: https://github.com/PeculiarVentures/fortify-examples

[2019-08-11 08:19] microshine commented on #239
Also, you can install `@webcrypto-local/client` npm module. It includes `build/webcrypto-local.d.ts` file with TypeScript definitions

[2019-08-15 10:01] dpccrt87 commented on #239
Hi,
I saw the examples, and now i want to know, how can i sign pdf file using the generated certificate from fortify in JS ?

[2019-08-15 14:51] rmhrisk commented on #239
Looks like your not including the protobuf package?

Have you seen Hancock.ink? It uses Fortify to do smart card based signing.

[2019-08-15 16:20] dpccrt87 commented on #239
Hi rmhrisk,
How can i include it ?
And i have another question relating to **Fortify** is possible to install it on remote server ?
Yes, i see Hancock just now, can i have more explanations about its use ?

[2019-08-15 16:49] rmhrisk commented on #239
You can see how to do includes for Fortify here:
https://github.com/PeculiarVentures/fortify-examples/blob/gh-pages/example1.html#L14-L23

Fortify is a client application, it enables a browser to use local certificates and smart cards. I am not sure what the server scenario would be?

Hancock is an application designed to help you sign PDFs in a browser, you can use it to view PDFs (see https://ve

[2019-08-15 19:43] marcioamr opened #241 "Expiration date"
How can I extract the expiration date of a certificate?

[2019-08-15 21:21] rmhrisk commented on #241
Use [PKI.js](http://pkijs.org) for certificate creation and parsing; see this sample: https://pkijs.org/examples/X509_cert_complex_example.html

[2019-08-15 21:21] #241 closed

[2019-08-16 01:26] marcioamr commented on #238
@rmhrisk which version will be available?
when will it be available?

[2019-08-16 03:43] rmhrisk commented on #238
Sometime this month.

You can easily add it to cards.json for testing purposes.

[2019-08-16 10:12] dpccrt87 commented on #239
Hi rmhrisk,
My current need is to generate X509 certificate found in my USB Token, using my JS code. After that i will use it to sign pdf document using JS library.

[2019-08-16 13:25] rmhrisk commented on #239
That is possible, we use fortify and PKIjs for the X509 and token interaction.

We created our own PDF library which is not public to allow for reliable PDF signing for all kinds of PDFs.

We have a sample of basic PDF signing in PKIJs that will work on simple documents.

[2019-08-16 14:15] YuryStrozhevsky commented on #239
@rmhrisk In fact in Pkijs example we have pdf verification only.

[2019-08-16 15:18] dpccrt87 commented on #239
@rmhrisk, so how can i proceed to generate X509 Certificate from my USB token using JS code only?
and how can i sign Pdf file using the generated X509 Certificate ?

[2019-08-16 22:58] rmhrisk commented on #239
I see; mistake on my part re:signing.

Re: how to create cert using fortify see the samples: https://peculiarventures.github.io/fortify-examples/example3.html

[2019-08-18 14:14] marcioamr opened #242 "Not All Mac Certificates Appear"
Dear

I installed a new certificate on MAC, it appears in Key Access, but it is not listed by Fortify.

![image](https://user-images.githubusercontent.com/9792102/63225672-07712480-c1a9-11e9-9e24-2cb7a5d97f5f.png)

[2019-08-19 07:33] microshine commented on #242
Run this command to start Fortify with enabled logging for `pvpkcs11.dylib`
[code]

You can find a log file in `/tmp/PVPKCS11.log`

[2019-08-19 10:17] dpccrt87 commented on #239
Hi @rmhrisk,
Can you give me some examples (documentation) or tracks, so that I can sign my pdf file using the hancock tool with fortify ?

[2019-08-19 11:54] marcioamr commented on #242
I ran the command but did not find this log file after that.
I need to do something else @microshine ?

[2019-08-19 19:08] microshine commented on #242
It must be enough.  Have you chacked global `tmp` folder?

[code]

[2019-08-20 23:36] rmhrisk commented on #239
Email me at ryan@peculiarventures.com and I’ll explain.

[2019-08-22 10:29] dpccrt87 commented on #239
its done.

[2019-08-23 02:38] talomteam opened #243 "Add support for '3b799600005448204e4944203132' token"
Reader name: SCM Microsystems Inc. SCR 3310
ATR: 3B799600005448204E4944203132

[code]

[Smart card ATR parsing 3B799600005448204E4944203132](https://smartcard-atr.appspot.com/parse?ATR=3B799600005448204E4944203132)

[2019-08-23 03:37] rmhrisk commented on #243
Can you tell us what PKCS11 library you use with this and what path you find it?

[2019-08-26 11:19] dpccrt87 commented on #239
Hi @rmhrisk,
Is there any news ?

[2019-09-10 10:36] dpccrt87 commented on #239
I'm still stuck, thank you for helping me solve my issue.

[2019-09-13 09:12] Stunc0 opened #244 "Add support for '3bff9500008031fe4380318067b0850201f3a3138301900057' token"
Reader name: HID Global OMNIKEY 3x21 Smart Card Reader
ATR: 3BFF9500008031FE4380318067B0850201F3A3138301900057

[code]

[Smart card ATR parsing 3BFF9500008031FE4380318067B0850201F3A3138301900057](https://smartcard-atr.appspot.com/parse?ATR=3BFF9500008031FE4380318067B0850201F3A3138301900057)

[2019-09-13 11:09] rmhrisk commented on #244
This appears to be “Driver's Card
 issued by pwpw Poland“ is that right?

Do you have the path to a PKCS11 library that works for this token?

Do you know if it has certificates on it?

[2019-09-16 09:02] Stunc0 commented on #244
I don't really know if it's  “Driver's Card issued by pwpw Poland“...
I just know this is this model : [https://www.hidglobal.com/products/readers/omnikey/3121](url)

[2019-09-17 05:16] rmhrisk commented on #244
That is your reader, what kind of card was inserted into the reader?

Do you know what PKCS11 library is used with that card?

[2019-09-17 08:29] Stunc0 commented on #244
Tha card inserted is a smartcard. And i don't know wich PKCS11 library is used with that card.

[2019-09-17 22:04] rmhrisk commented on #244
What kind of smart card, there are 10a of thousands of kinda each requiring their own middleware.

[2019-09-18 11:43] Stunc0 commented on #244
I don't know the special kind. How to know ?
This is a contact card that we query by apdu query .

[2019-09-18 17:36] rmhrisk commented on #244
Who did you get the card from?

What do you use the card for?

Did the card come with software you must install to use it?

[2019-09-19 18:49] lulnope opened #245 "How to allow user to sign multiple documents after only a single PIN query?"
Hi
I'm testing [example5](https://peculiarventures.github.io/fortify-examples/example5.html).

First `Sign` button click works fine, every subsequent click results in `CKR_USER_NOT_LOGGED_IN` error being thrown. I have narrowed down the problem to this [line](https://github.com/PeculiarVentures/fortify-examples/blob/32796e2ab60e4403fad07a72f70e4edea74a16ac/example5.html#L145) in example5.html. The

[2019-09-20 08:55] JanSlabon opened #246 "Token name"
I have two "SafeNet eToken 5110" attached and named them indivdually:
![grafik](https://user-images.githubusercontent.com/12390057/65312250-65bb6980-db92-11e9-8dd4-71b9cb997af4.png)

I can identify them in any other program but not in Fortiy. They are name "SafeNet eToken 5110" for both devices:
![grafik](https://user-images.githubusercontent.com/12390057/65312353-9a2f2580-db92-11e9-91ba-f0e0636c9

[2019-09-20 12:54] rmhrisk commented on #246
I believe this would be a proprietary label, something specific to SafeNet.

Do you know how this is persisted on the token? Can you explain how you set this label?

[2019-09-23 16:53] microshine commented on #246
@JanSlabon Can you try to get information about token using [graphene](https://github.com/PeculiarVentures/graphene)?

Please check fortify logs. Does Fortify uses pkcs11 libs or it uses pvpkcs11 lib for SafeNet tokens?

[2019-09-25 09:58] JanSlabon commented on #246
I'm currently out of the office... will reply when I'm back.

[2019-09-28 11:31] brunohelius opened #247 "Add support for '3bf99600008131fe4553434537200e00202028' token"
Reader name: Giesecke & Devrient GmbH StarSign CUT S 0
ATR: 3BF99600008131FE4553434537200E00202028

[code]

[Smart card ATR parsing 3BF99600008131FE4553434537200E00202028](https://smartcard-atr.appspot.com/parse?ATR=3BF99600008131FE4553434537200E00202028)

[2019-09-28 23:14] rmhrisk commented on #247
@brunohelius
Can you tell us a bit more about this device? Is it a token or a smart card? What is the make model of the device? What PKCS11 library do you use with this device? Where is the PKCS11 located on your machine?

[2019-09-30 07:35] JanSlabon commented on #246
I do this in the "SafeNet Authentication Client Tools". There I can right-click a token and rename it.

I know that other simliar tools use this name in the password/pin dialog, too.

[code]

@Graphene: I need some free time to dig into this...

[2019-09-30 16:25] microshine commented on #246
@JanSlabon Please try this script

[code]

[2019-10-01 07:12] JanSlabon commented on #246
Ok, graphene shows the correct labels:

![grafik](https://user-images.githubusercontent.com/12390057/65941519-88b80a00-e42b-11e9-944f-471895b5c934.png)

[2019-10-13 16:44] JoaHou opened #248 "Add support for '3b7d18000000487970734944205333079000' token"
Reader name: ActivIdentity Activkey_Sim [CCID Bulk Interface] 00 00
ATR: 3B7D18000000487970734944205333079000

[code]

[Smart card ATR parsing 3B7D18000000487970734944205333079000](https://smartcard-atr.appspot.com/parse?ATR=3B7D18000000487970734944205333079000)

[2019-10-13 21:31] rmhrisk commented on #248
This appears to be a “ Schlumberger Multiflex 3k” can you provide anymore information about the card?

Does it have a PKCS11 library? If so what is the library name and where does it commonly get installed?

Does it support certificates? If so are you able to access those certificates via another application? If so which one?

[2019-10-14 06:50] JoaHou commented on #248
Hi,
It's ActivKey SIM and my OS is Ubuntu 18.04
![activid-usb-token_1_1](https://user-images.githubusercontent.com/56514918/66732801-945cf500-ee5d-11e9-8626-90d0c8401302.png)
I installed opensc 0.19.0 and pcsc
In firefox I add security device pkcs11 with "opensc‑pkcs11-onepin.so" and I try too with "libaetpkss.so " but nothing.
The key green light while 5s and return to red light.

The key work ve

[2019-10-14 08:17] rmhrisk commented on #248
Do you have the path to the Morpho Middleware on your system? It is possible there is a PKCS11 library with that package, alternatively it may be a mini driver and no path will be necessary if use is limited to Windows.

[2019-10-14 08:22] JoaHou commented on #248
On Windows 10, in Firefox, it's c:\windows\system32\CnfPkcs11v220.dll
![capture](https://user-images.githubusercontent.com/56514918/66737514-7d71cf00-ee6c-11e9-9a9b-e5f8a868245c.jpg)

[2019-10-15 01:14] rmhrisk commented on #248
With this it should be possible to test this by editing card.json

[2019-10-15 06:38] JoaHou commented on #248
card.json into Ubuntu 18.04 (~/.fortify/card.json)

 {
  "$schema": "./card.schema.json",
  "version": "1.0.23",
  "cards": [
    {
      "atr": "3b9813400aa503010101ad1311",
      "name": "National Identity Document: Belgian eID",
      "driver": "89648ea52ed24a799aff9f9ff363eef4"
    },
    {
      "atr": "3B7F960000006A444E4965200101550410039000",
      "name": "National Identity Document: Span

[2019-10-15 17:13] rmhrisk commented on #248
It seems that this card.json would work for you, specifically because:
[code]

Does it work for you?

[2019-10-15 17:16] rmhrisk commented on #248
Actually, it seems we need the non 64-bit package for you:

It seems it should be:

[code]
@microshine please update card.json

[2019-10-17 00:37] ekiametis opened #249 "Add support for '3bf99600008131fe4553434537200e00202028' token"
Reader name: Giesecke & Devrient GmbH StarSign CUT S [.] (03181106063975) 00 00
ATR: 3BF99600008131FE4553434537200E00202028

[code]

[Smart card ATR parsing 3BF99600008131FE4553434537200E00202028](https://smartcard-atr.appspot.com/parse?ATR=3BF99600008131FE4553434537200E00202028)

[2019-10-17 01:53] rmhrisk commented on #249
Can you tell us a bit more about this card?

What is the path you use to the PKCS 11 library on your host?

Do you know the make and model of this card and maybe the issuer?

Does the card work with certificates?

[2019-10-20 18:19] ekiametis commented on #249
@rmhrisk ,

The model of this token that work with certificates is **StarSign Crypto USB Token** from **GD Mobile Security**.

Can you help me?

[2019-10-20 22:04] rmhrisk commented on #249
Do you have a PKCS11 library that works with this token? If so what is the full path of the library on your system?

[2019-10-22 01:06] ekiametis commented on #249
@rmhrisk ,

Thank you for your time. Well ... I don't have a library PKCS11 for this token. At least I couldn't recognize this in my host. Do you have some tip for me?

[2019-10-22 02:34] rmhrisk commented on #249
What application do you use this token with?

Did you have to install software to get the token to work with that software?

Are you on Windows, OSX, Linux?

[2019-10-22 14:54] ekiametis commented on #249
@rmhrisk ,

In the installation process I had to install the [driver](http://drivers.certisign.com.br/midias/tokens/gdburti/64bits/2k-xp-vi-7/GDsetupStarsignCUTx64.exe) and the [software to recognize](http://drivers.certisign.com.br/midias/gerenciadores/safesign/64bits/SafeSignIC30124-x64-win-tu-admin.exe) the certificate in the Windows OS.

[2019-10-22 18:06] anmaitrannguyen opened #250 "Add support for '3b9f958131fe9f006646530501001171df000015000006' token"
Reader name: FT ePass2003Auto 0
ATR: 3B9F958131FE9F006646530501001171DF000015000006

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530501001171DF000015000006](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530501001171DF000015000006)

[2019-10-22 20:11] rmhrisk commented on #249
Do you have a file called aetpkcs1.dll if so where is it installed?

[2019-10-22 22:30] ekiametis commented on #249
@rmhrisk ,

The file is located in: "C:\Windows\System32\aetpkss1.dll"

[2019-10-23 07:27] microshine commented on #249
@ekiametis `Fortify` supports custom cards. Please add this card to the `~/.fortify/config.json` file to check.

### ~/.fortify/config.json
[code]

[2019-10-24 05:35] rmhrisk commented on #249
If that works we will formally add support.

[2019-10-30 14:17] jenkin90 opened #251 "Add support for '3bff1800ff8131fe55006b0209030301010144534410318090' token"
Reader name: ACS CCID USB Reader 0
ATR: 3BFF1800FF8131FE55006B0209030301010144534410318090

[code]

[Smart card ATR parsing 3BFF1800FF8131FE55006B0209030301010144534410318090](https://smartcard-atr.appspot.com/parse?ATR=3BFF1800FF8131FE55006B0209030301010144534410318090)

[2019-10-30 15:59] #251 closed, assigned to nobody

[2019-10-31 07:44] microshine commented on #251
I published a new version of the card.json with `Bit4ID`. Please check it.
- Restart your Fortify to get the latest cards.json version
- Check `~/.fortify/card.json`. It must be v1.0.24

[2019-11-02 12:48] tagarikdi opened #252 "Add support for '3bff9600ff918131fe4d8031e06b043105027555555555555579' token"
Reader name: ACS CCID USB Reader 0
ATR: 3BFF9600FF918131FE4D8031E06B043105027555555555555579

[code]

[Smart card ATR parsing 3BFF9600FF918131FE4D8031E06B043105027555555555555579](https://smartcard-atr.appspot.com/parse?ATR=3BFF9600FF918131FE4D8031E06B043105027555555555555579)

[2019-11-03 05:53] rmhrisk commented on #252
Can you tell us about this device?

What is it’s make and model?

Who is it’s issuer (if it came provisioned)?

What plcs11 library do you use with this device?

What path do you find that PKCS11 library in?

[2019-11-03 23:44] tagarikdi commented on #252
@rmhrisk it's a ACR38U FROM ACS (ADVENCED CARD SYSTEMS Ltd)

[2019-11-04 04:33] rmhrisk commented on #252
That is the reader, we need details on the card to make the card work for you.

Who makes the card?

What is it’s model?

Who is the issuer if the card?

And most importantly what PKCS11 do you use with it?

[2019-11-06 04:08] neopeeranat opened #253 "Add support for '3b8f8001804f0ca000000306030001000000006a' token"
Reader name: ACS ACR122 0
ATR: 3B8F8001804F0CA000000306030001000000006A

[code]

[Smart card ATR parsing 3B8F8001804F0CA000000306030001000000006A](https://smartcard-atr.appspot.com/parse?ATR=3B8F8001804F0CA000000306030001000000006A)

[2019-11-06 08:38] rmhrisk commented on #253
Can you tell us more about this token / card?

What PKCS11 library do you use with it?

What is it’s make and model?

[2019-11-06 15:00] jorgebaroncacv opened #254 "Error build => spawn fortify-prepare ENOENT"
I have problems with the building of the app.
When i launch "npm run build", i get the following error:
Error: spawn fortify-prepare ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
    at onErrorNT (internal/child_process.js:456:16)
    at processTicksAndRejections (internal/process/task_queues.js:80:21)npm ERR! code ELIFECYCL

I supposed that i needed the fort

[2019-11-06 19:57] microshine commented on #254
Use this command
[code]

This is helper CLI application which allows copying required files only

[2019-11-06 20:09] rmhrisk commented on #254
@jorgebaroncacv of course Fortify is OSS and you can fork it, however, we strongly recomend you use the shared implementation so you pick up the regular security fixes (for example in Electron), support for new languages, smart cards, and other features.

if there is something in the standard distribution you want and you dont see, please let us know with a bug tracking that request.

[2019-11-07 08:28] jorgebaroncacv commented on #254
@microshine thanks for the answer. I tried it, but it did not work, because i needed the tsc libary to be installed. So i prefered to download fotify-web, include the tsc library and add it to the project, and i resolved this error.

After i needed to intall electron-packager too.

I supposed that theses libraries are not installed, because they have to be installed globally before you build the p

[2019-11-08 10:11] farazdeveloper opened #255 "Firefox doesnot allow connections to localhost"
I want digital signature access for login in mozilla firefox, but getting error "Unfortunately, your browser doesn't allow connections to locahost. Please try a different browser.
![mozilla-error](https://user-images.githubusercontent.com/36696877/68468486-229a8000-023e-11ea-89f9-12f2f55695b0.PNG)
"

[2019-11-08 15:41] rmhrisk commented on #255
Fortify does work on Firefox.

It is likely there is an issue with your install somehow not trusting the SSL certificate that Fortify installs.

When it was installed it asked for you to approve installation of a trusted root, dis you accept?

[2019-11-08 15:41] rmhrisk commented on #255
Please attach your fortify log.

[2019-11-12 07:04] abrbhat opened #256 "Add support for '3b6d000057443641018693073131323235' token"
Reader name: Watchdata WDIND USB CCID Key 0
ATR: 3B6D000057443641018693073131323235

[code]

[Smart card ATR parsing 3B6D000057443641018693073131323235](https://smartcard-atr.appspot.com/parse?ATR=3B6D000057443641018693073131323235)

[2019-11-12 07:23] abrbhat commented on #256
`keyStorage.getItem` and `certStorage.getItem` seem to be working. Using `crypto.subtle.sign` causes the following error:
[code]
causes the following error:
`CKR_FUNCTION_FAILED:6 at Error (native) crypto_update:589 `

[2019-11-12 08:09] abrbhat commented on #256
The card is manufactured by Watchdata and its model name is Proxkey. I am using pkcs11.dll to access it through MS CAPI. The original issue description was auto-generated by the Fortify App.

![image](https://user-images.githubusercontent.com/4189727/68653493-e32ba680-0551-11ea-8e92-eae196a6a550.png)

[2019-11-13 04:30] KLAM-Sympli opened #257 "Add support for '3bff9600008131804380318065b0850300ef120ffe82900066' token"
Reader name: AKS ifdh 0
ATR: 3BFF9600008131804380318065B0850300EF120FFE82900066

[code]

[Smart card ATR parsing 3BFF9600008131804380318065B0850300EF120FFE82900066](https://smartcard-atr.appspot.com/parse?ATR=3BFF9600008131804380318065B0850300EF120FFE82900066)

[2019-11-13 08:09] jorgebaroncacv opened #258 "Problems building for Windows"
First of All, thanks for your help.

I have already built the app in a debian distro, and it worked perfecly. I had to install some node modules before to do it, but finally i built it.

However, I tried to do the same in windows, but i could not get the result i expected. i acomplished to built the app, i could install it without problem, but when run it, the server that should be listening in 12

[2019-11-13 09:55] microshine commented on #256
If you are using pvpkcs11.dll can you enable log for it and share logs with me?

### pvpkcs11 logging
https://github.com/PeculiarVentures/pvpkcs11#enviroment-variables

### pvpkcs11 log file
[code]

[2019-11-13 15:55] rmhrisk commented on #257
Can you share information about this card?

What is the manufacturer?
What is the model?
What is the issuer?
What PKCS11 library do you use with it?
Where on the file system do you find this PKCS11 linrary?

[2019-11-13 16:07] rmhrisk commented on #258
You will need to check if the installer successfully installed the root certificate created at install time.

You will need to see if you can manually connect to that ip and port successfully in each browser.

You will needs to provide a fortify of.

[2019-11-15 17:45] defacto64 opened #259 "Add support for '3bff9600ff8131fe55006b02090403010101434e5310318014' token"
Reader name: Broadcom Corp Contacted SmartCard 0
ATR: 3BFF9600FF8131FE55006B02090403010101434E5310318014

[code]

[Smart card ATR parsing 3BFF9600FF8131FE55006B02090403010101434E5310318014](https://smartcard-atr.appspot.com/parse?ATR=3BFF9600FF8131FE55006B02090403010101434E5310318014)

[2019-11-15 18:17] rmhrisk commented on #259
@defacto64 thank you so much!

Did this work for you?

[2019-11-16 08:25] defacto64 commented on #259
Thank you Ryan. I suppose that's the correct path for OSX, but I was not sure.
Did this config worked for me? Yes and No.
For now, I am just testing with the examples provided at https://peculiarventures.github.io/fortify-examples/
The signing function works, but not the signature verification, as there is an uncaught exception at JS level. I am attaching the Javascript console log, if you can pos

[2019-11-16 21:44] rmhrisk commented on #259
Fortify has a log file, can you reproduce this and send the associated log file?

[2019-11-17 09:03] microshine commented on #259
@defacto64 can you share Fortify log for those operations?

![image](https://user-images.githubusercontent.com/7333669/69005355-375bcf80-0932-11ea-8792-bc8b9fb019d3.png)

[2019-11-17 10:54] defacto64 commented on #259
Sure, here it is.
[fortify.log](https://github.com/PeculiarVentures/fortify/files/3855488/fortify.log)

[2019-11-17 11:02] microshine commented on #259
As I can see. You've got 2 errors. Fortify logs shows more details about those errors.

### Error on key generation
[code]

### Error oh signature validation
[code]

[2019-11-17 11:03] defacto64 commented on #259
Yes, as I said in my yesterday comment.

[2019-11-17 11:04] defacto64 commented on #259
In the meantime, please accept my compliments for your work. Although I am having some difficulties with my experiments, fortify seems an important achievement in remediating certain deficiensies of main browsers. I am now trying to understand if it could be used for "production" needs.

[2019-11-17 11:05] microshine commented on #259
Can you restart Fortify and check that it uses `%WINDIR/System32/bit4xpki.dll` for your token?

I'll prepare a simple NodeJs to understand which attribute throws `CKR_ATTRIBUTE_VALUE_INVALID` exception

[2019-11-17 11:05] defacto64 commented on #259
How can I check that?

[2019-11-17 11:06] microshine commented on #259
Fortify writes to log file information about dlls it uses

[2019-11-17 11:07] microshine commented on #259
Your current log file doesn't have that information cause you enabled logging after the token was initialized

[2019-11-17 11:11] defacto64 commented on #259
By extracting and the re-inserting my card in the reader, I see the information showing up in fortify.log (attached).
[fortify.log](https://github.com/PeculiarVentures/fortify/files/3855503/fortify.log)

[2019-11-17 11:11] defacto64 commented on #259
It seems to me that, yes, fortify is using %WINDIR/System32/bit4xpki.dll for my token....

[2019-11-17 11:12] microshine commented on #259
I'll share test script soon

[2019-11-17 11:33] microshine commented on #259
Can you try this script?
- Extract files
- Install deps `npm install`
- Update consts `lib`, `slotIndex`, and `pin`
- Run script `npm start`

[graphene-test.zip](https://github.com/PeculiarVentures/fortify/files/3855515/graphene-test.zip)

[2019-11-17 11:44] defacto64 commented on #259
Under Windows?

[2019-11-17 11:45] microshine commented on #259
yes

[2019-11-17 12:07] defacto64 commented on #259
I will take me a while, as I did not have Node.js, Python, etc. on my PC. I am setting all up....

[2019-11-17 12:08] microshine commented on #259
Ok. Install LTS version of NodeJs. It must contain additional tools for C++ plugins

[2019-11-17 17:29] defacto64 commented on #259
This is the output of "npm start":

G:\Desktop\Fortify\Windows>npm start

G:\Desktop\Fortify\Windows\node_modules\graphene-pk11\build\session.js:179
                const keys = this.lib.C_GenerateKeyPair(this.handle, pMech, pubTmpl, prvTmpl);
                                      ^
Error: CKR_ATTRIBUTE_VALUE_INVALID:19
    at Error (native) PKCS11::C_GenerateKeyPair:923
    at Session.generateKey

[2019-11-17 20:06] rmhrisk commented on #259
Several governments and commercial products use Fortify in production.

Based on what we’re seeing so far it looks like your PKCS11 library doesn’t support certain capabilities (More debug will be needed to confirm) is the use of this token mandatory for your use case?

[2019-11-17 22:20] KLAM-Sympli commented on #140
Hi @rmhrisk , @microshine ,

Just following up to see whether the JSON update was released with Fortify v1.0.20.
I have this version installed at the moment, but it's not working for the hard tokens mentioned at the start of this chain. Thanks.

[2019-11-17 22:24] KLAM-Sympli commented on #257
Hi @rmhrisk ,

I have found the existing thread for this issue.
Please refer to https://github.com/PeculiarVentures/fortify/issues/140
Thanks

[2019-11-17 22:24] #257 closed

[2019-11-18 07:14] defacto64 commented on #259
The P11 library I am testing with does certainly support on-chip RSA keypair generation. And yes, use of this token (but not only this one) would be mandatory in the use case I have in mind.
I noticed that, in the text script, the "token" attribute is set to "false", in the private and public key templates. That means, if I am not mistaken, that the key pair is not being generated on board the sma

[2019-11-18 07:20] defacto64 commented on #259
After changing to "true" the value of the "token" attribute (in the public and private key PKCS#11 templates) in index.ts, now the key pair generation succeeds:

G:\Desktop\Fortify\Windows>npm start

Key generation: success

[2019-11-18 07:24] defacto64 commented on #259
This leads me to think that the key generation phase in the example web page "Certificate request generation" (https://peculiarventures.github.io/fortify-examples/example1.html) is using a PKCS#11 key template with the same issue (that is, with the token attribute set to false instead of true), somehow. Can this be? I do not know how to check that, though.....

[2019-11-18 08:45] microshine commented on #259
Thanks for researching. I've got a suggestion to solve that problem. We can extend algorithms for PKCS#11 WebCrypto API and allow setting some attributes through `generateKey` function.

### Example
[code]

This must allow generating keys to token skipping `keyStorage.setKey` function

What do you think about it?

[2019-11-18 09:15] rmhrisk commented on #259
Seems reasonable

[2019-11-19 07:39] defacto64 opened #260 "Add support for '3bdf18008131fe7d006b020c0182010101434e53103180ec' token"
Reader name: Broadcom Corp Contacted SmartCard 0
ATR: 3BDF18008131FE7D006B020C0182010101434E53103180EC

[code]

[Smart card ATR parsing 3BDF18008131FE7D006B020C0182010101434E53103180EC](https://smartcard-atr.appspot.com/parse?ATR=3BDF18008131FE7D006B020C0182010101434E53103180EC)

[2019-11-19 15:44] rmhrisk commented on #260
Have you tested this configuration?

[2019-11-19 20:31] greatmarduk opened #261 "Add support for '3bd218008131fe58c90114' token"
Reader name: VMware Virtual USB CCID 0
ATR: 3BD218008131FE58C90114

[code]

[Smart card ATR parsing 3BD218008131FE58C90114](https://smartcard-atr.appspot.com/parse?ATR=3BD218008131FE58C90114)

[2019-11-20 04:23] rmhrisk commented on #261
Can you tell us more about this device?

What is it’s make and model?
What PKCS11 do you use with this device?

[2019-11-20 08:14] defacto64 commented on #261
Hi, sure. It is a widely used smartcard (counting in several millions) used in Italy as health card. It is manufactured by NXP based on a COS developed by the then Athena SCS (now NXP). The same smartcard is also used for digital signatures, in several contexts.

My results with Fortify are only partially OK, at this time, possibly because of the "bug" (IMO) that I have been discussing with Stepan

[2019-11-20 08:15] defacto64 commented on #260
Hi, sure. My results with Fortify are only partially OK, at this time, possibly because of the "bug" (IMO) that I have been discussing with Stepan, ie the "token" PKCS#11 attribute set to false instead of true when creating objects on a smartcard. Here's my detailed results:

Results from fortify-examples HTML pages: (https://peculiarventures.github.io/fortify-examples/)

Enumerate providers and t

[2019-11-20 10:06] greatmarduk commented on #261
Hi,

My Lector is:
Lector de tarjeta inteligente Usbccid de Microsoft (WUDF)
I am using: "CardOS API V5.4. (Build 13)" with certificates X.509.

Anything else?

Greetings.

El mié., 20 nov. 2019 a las 5:23, Ryan Hurst (<notifications@github.com>)
escribió:

[2019-11-20 23:33] rmhrisk commented on #261
Do I understand correctly you are using a mini driver and not PKCS11?

Is your case working?

[2019-11-20 23:34] rmhrisk commented on #260
We’re happy to add this card mapping once you confirm its works, well keep this open for now to give you time to work through your issue.

[2019-11-25 11:27] greatmarduk commented on #261
What information do you need exactly?

I send some pictures,

[image: imagen.png]

[image: imagen.png]

Geetings.

El mié., 20 nov. 2019 a las 5:23, Ryan Hurst (<notifications@github.com>)
escribió:

[2019-11-25 18:32] rmhrisk commented on #261
Unfortunatley Github stripped your pictures.

For us to make sure your device works we need to know either:

a) what PKCS#11 file you use and where it is installed
b) that you do not use PKCS#11 and instead use CryptoAPI/CNG via a Minidriver

And to correctly display the name of the device we need to know its make and model.

[2019-11-27 13:49] defacto64 commented on #259
I look forward to an update that allows keypairs to be created on the token (i.e. with the pkcs#11 CKA_TOKEN attribute settable to true).

[2019-11-27 18:58] rmhrisk commented on #259
@microshine when do you think you can do a new release.

@defacto64 please email me at ryan@peculiarventures.com or catch me on skype with my github username when you have the time.

[2019-12-05 11:05] rahul-gs1-code opened #262 "Add support for '3b9f958131fe9f006646530532022571df000006000010' token"
Reader name: FT  ePass2003Auto
ATR: 3B9F958131FE9F006646530532022571DF000006000010

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530532022571DF000006000010](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530532022571DF000006000010)

[2019-12-06 11:13] rmhrisk commented on #262
This looks like a new Feitien ePass, if so the configuration needed is:

[code]
@microshine its probably safe just to add this.

[2019-12-08 23:36] thiago-molive opened #263 "An error occurred. You do not appear to have any cryptographic providers registered. This is probably a problem with your installation."
I run npm install then npm start on desktop app and web, but i received the message "An error occurred. You do not appear to have any cryptographic providers registered. This is probably a problem with your installation."

How can i to solve it?

[2019-12-08 23:38] microshine commented on #263
Please download Fortify from website https://fortifyapp.com/

[2019-12-08 23:59] thiago-molive commented on #263
can i sign xml with a3 certificates via web browser with this app?

[2019-12-09 00:00] microshine commented on #263
yes, you can

use [xmldsigjs](https://github.com/PeculiarVentures/xmldsigjs) and [xadesjs](https://github.com/PeculiarVentures/xadesjs) modules

[2019-12-09 00:04] thiago-molive commented on #263
Thank's.

If i download app from site,  it would work when run npm start?

Where i find the documentation?

[2019-12-09 00:09] microshine commented on #263
Fortify is a service. You don't need to use `npm start`. It starts on System start.

See
https://peculiarventures.github.io/fortify-examples/
https://github.com/PeculiarVentures/fortify-examples
https://xadesjs.com/
https://github.com/PeculiarVentures/xadesjs/tree/gh-pages
https://github.com/PeculiarVentures/xadesjs/tree/gh-pages

[2019-12-09 01:30] rodolfoleal commented on #249
Hi guys,

I used the same lib @microshine mentioned and could make it work on Linux and Windows hosts. Tried on MacOs but could find a suittable drive, at least for my OSx version.

@rmhrisk would be very helpful to have this support added formally;

Thank you all very much.

I think to add the below specs on card.json will make it work.

[code]

[2019-12-09 06:53] rmhrisk commented on #249
@microshine

[2019-12-10 00:42] marcioamr commented on #249
Is there an estimated date to support this device?

[2019-12-10 02:02] rmhrisk commented on #249
Should be possible to do this week

[2019-12-12 22:22] thiago-molive commented on #263
I really can't understand how these features work.
and spent hours trying to understand, reading and adapting examples, but couldn't make it work.

example5 shows how to sign a text, but wanted to adapt to sign an xml as it is done in xades, but without the prefix ds:

I also wanted to change the port that is used in the desktop app and the link to the site, but I can't put the app to work.

[2019-12-12 23:21] rmhrisk commented on #263
- Did you install fortify from its website?
- We’re you able to generate a CSR or self signed certificate with Fortify?
- If so we can say with confidence that part is working.
- Did you download the xmldsigjs project and get the sample on the readme to work in browser? .
- if so we can say with confidence xmldsif signing is working.
- Did you look at the fortify example for signing? Does it work

[2019-12-13 00:54] thiago-molive commented on #263
I installed app from the official website and it worked perfectly.

I didn't even try to generate a self-signed certificate, I was trying to use a real digital certificate generated by a certificate authority.

I can't use xmldsig.js. I don't know node well, I never worked with it, so I have difficulty run samples
the way I need.

fortify generated a signature that I don't know how to use, I'm use

[2019-12-13 03:17] MasakiMinamide opened #264 "Add support for '3bda13ff8131fb468012392f31c173c601c03b' token"
Reader name: Alcor Micro AU9560
ATR: 3BDA13FF8131FB468012392F31C173C601C03B

[code]

[Smart card ATR parsing 3BDA13FF8131FB468012392F31C173C601C03B](https://smartcard-atr.appspot.com/parse?ATR=3BDA13FF8131FB468012392F31C173C601C03B)

This card is issued by Japan Agency for Local Authority Information Systems.

[2019-12-13 04:16] MasakiMinamide commented on #264
The driver is already implemented in OpenSC.
https://github.com/OpenSC/OpenSC/pull/801

[2019-12-13 05:56] rmhrisk commented on #263
Fortify is just a WEBCRYPTO implementation.

Start by getting the xmldsig sample to work once you do that just switch the webcrypto implementation.

[2019-12-13 10:45] rmhrisk commented on #264
Can you tell us the make/model of this card?

Is it a read only card?

[2019-12-13 23:46] thiago-molive commented on #263
I give up, i spent a lot of time just having parse errors.

[2019-12-13 23:54] #263 closed

[2019-12-13 23:54] rmhrisk commented on #263
You essentially gave us no data beyond I can’t get it to work. You didn’t follow the supplied instructions that would have led you to success. I give up.

[2019-12-14 01:22] MasakiMinamide commented on #264
MacOS 版の場合：
name=JPKI_Appli-01
path=/usr/local/lib/JPKIPKCS11.dylib
pathSign=/usr/local/lib/JPKIPKCS11Sign.dylib
pathAuth=/usr/local/lib/JPKIPKCS11Auth.dylib

I added the path to card.json as
`
  card : {
      "atr": "3BDA13FF8131FB468012392F31C173C601C03B",
      "name": "National Identity Document: Japanese eID",
      "readOnly": false,
      "driver": "E3C260286EC0AD8C12407F0D56A0C65A61E48884

[2019-12-14 03:53] MasakiMinamide commented on #264
@rmhrisk

Instead I tried opensc-pkcs11.so, and fortify stopped complaining.
[code]

I tested with fortify example4, which successfully showed full item list in the smartcard!
But with example5, I get cryptoServerError. I suspect this is because the driver is not right...
How can I fix this?

[code]

[2019-12-15 13:34] andreibratuleanu21 opened #265 "Add support for '3b9f958131fe9f006646530501001171df000000000013' token"
Reader name: FT ePass2003Auto
ATR: 3B9F958131FE9F006646530501001171DF000000000013

[code]

[Smart card ATR parsing 3B9F958131FE9F006646530501001171DF000000000013](https://smartcard-atr.appspot.com/parse?ATR=3B9F958131FE9F006646530501001171DF000000000013)

[2019-12-17 09:43] defacto64 opened #266 "Questions / remarks on PKCS#11 library selection logic"
I would like to share a couple of reflections on how Fortify determines the PKCS#11 library to use for driving a certain smartcard.

1) It is quite common for a certain pkcs#11 library to support several types of smartcards identified by different ATRs - sometimes, just slightly different. They may have a different version of the same card operating system (COS) or maybe just a different formattin

[2019-12-17 09:54] greatmarduk commented on #261
Hello, the problem we have is that we are planning to distribute the software among several users,
Will it be necessary to inform about each brand and model? Is there a list where we can see compatible models?

Greetings in advance

[2019-12-19 21:47] marcioamr commented on #249
@rmhrisk Is there an estimate for this release?

[2019-12-21 12:42] marcioamr commented on #249
@rmhrisk Is there an estimated date to support this device?

[2019-12-23 14:27] elizandroilha opened #267 "Certify pdf"
I need to digitally sign a pdf. Is there an example using Fortify? Thank you very much in advance.

[2019-12-27 18:39] thiago-molive opened #268 "Add support for '3bfd1800008031fe45736674652d63643038302d6e66dc' token"
Reader name: CASTLES EZ100PU 0
ATR: 3BFD1800008031FE45736674652D63643038302D6E66DC

[code]

[Smart card ATR parsing 3BFD1800008031FE45736674652D63643038302D6E66DC](https://smartcard-atr.appspot.com/parse?ATR=3BFD1800008031FE45736674652D63643038302D6E66DC)

[2019-12-27 19:31] rmhrisk commented on #268
@thiago-molive what PKCS11 library do you use with this device?

What is the make and model?

[2019-12-27 19:49] thiago-molive commented on #268
about PKCS11 library, where can I find this information?

The make is Nonus and model smarthnonus.

[2019-12-27 20:11] rmhrisk commented on #268
Do you use this token with other applications? For example with Firefox, Edge, acrobat, outlook, etc.

[2019-12-27 20:24] thiago-molive commented on #268
we use this for signing pdf's in pdf xchange and other desktop aplications.

[2019-12-27 20:57] rmhrisk commented on #268
Which applications? That will hopefully tell me what I can ask from you so it will work with Fortify.

[2019-12-27 20:58] rmhrisk commented on #268
Is this related to your card: https://www.tjrs.jus.br/site/certificacao_digital/requisitos_sistema.html

[2019-12-27 20:59] rmhrisk commented on #268
Do you have aetpkss1.dll on your computer?

[2019-12-27 21:17] thiago-molive commented on #268
It is nothing related to installed desktop applications.
I am using fortity to sign some xml's on the site. I can sign perfectly with A1 certificate. but with this smartcard message appears that is not supported or the other token I have here i'm generate a invalid signature.

[2019-12-27 21:19] thiago-molive commented on #268
yes a found in System32 and SysWOW64

[2019-12-27 21:27] rmhrisk commented on #268
I believe this will make your card work:

[code]

Please add this to your card.json file:

~/.fortify/card.json

And try again, if it works for you we will add it to a future release.

[2019-12-27 21:38] thiago-molive commented on #268
Yes, it work great. Thank you very much!!!

[2019-12-27 21:45] thiago-molive commented on #268
How do you did that? because if I need new cards I can add a new code to json and reply here.

[2019-12-27 21:58] rmhrisk commented on #268
I guessed from the information you provided, I used those guesses, and the ATR you provided to search.

@microshine please add this to card.json

[2020-01-04 20:06] marcioamr commented on #249
@rmhrisk @microshine We are still waiting for support for this device. Is there an new estimated date?

[2020-01-09 15:19] JanSlabon opened #270 "How to deal with an expired certificate for 127.0.0.1:31337 ?"
It's that easy, the certificate expired on 2020-01-07 on my computer and I'm locked out of Fortify. Do I need to manually reinstall Fortify or is there a way to update this by the program itself?

Thanks!
Jan

[2020-01-09 16:19] microshine commented on #260
Added to cards.json v1.0.25

[2020-01-09 16:19] #260 closed

[2020-01-09 16:20] microshine commented on #259
Added to cards.json v1.0.25

[2020-01-09 16:20] #259 closed

[2020-01-09 18:15] microshine commented on #270
It must renew a certificate.
I'll check it.

You can remove `cert` and `key` files from `~/.fortify` folder and restart Fortify. It'll create a new cert on start

[2020-01-12 11:14] #264 closed

[2020-01-12 16:32] rmhrisk commented on #264
Did you get this working?

[2020-01-13 09:35] MasakiMinamide commented on #264
OpenSC worked.

[code]

[2020-01-13 13:31] rmhrisk commented on #264
We will add this to the prod config file

[2020-01-13 19:13] vbhatkotti opened #271 "Add support for '3b8f8001804f0ca000000306030001000000006a' token"
Reader name: MANTRA MANTRA CCID-CL 0
ATR: 3B8F8001804F0CA000000306030001000000006A

[code]

[Smart card ATR parsing 3B8F8001804F0CA000000306030001000000006A](https://smartcard-atr.apdu.fr/parse?ATR=3B8F8001804F0CA000000306030001000000006A)

[2020-01-13 19:19] rmhrisk commented on #271
Closing as dupe of https://github.com/PeculiarVentures/fortify/issues/125

[2020-01-13 19:19] #271 closed

[2020-01-13 21:04] microshine commented on #264
Added to `cards.json` v1.0.26

[2020-01-14 10:33] JanSlabon commented on #270
Update: I just did an update of Fortify and the cert was not renewed.

[2020-01-14 17:45] microshine opened #272 "Improve SSL renewal"
- [ ] check SSL certificate expiration periodically (1 hour)
- [ ] use renew period option for certificate renewal (cert validity period 1year, renew period 6 weeks)
- [ ] remove Fortify Local CA from MS Trusted list

[2020-01-14 17:47] microshine commented on #270
I've created a new ticket https://github.com/PeculiarVentures/fortify/issues/272 to fix this issue

[2020-01-14 17:47] #270 closed

[2020-01-14 20:55] microshine commented on #246
I found that we are rewriting a name in `addProvider` function. It uses names from `config.json::providers` and `cards.json` (see Watch pad)

![image](https://user-images.githubusercontent.com/7333669/72380660-ea745980-3726-11ea-9708-8faf2432f6dc.png)

<img src="https://user-images.githubusercontent.com/7333669/72381241-21973a80-3728-11ea-9811-f9c5fabff493.png"  width="300">

I think we should ext

[2020-01-15 13:23] sefai opened #273 "Add support for '3B9F118131FE9F006A6D546F6B656E2D5000058190006A' token"
Hi there,

I have added the card and the driver to the card.json file, but I cannot see it in the providers list. Is there some other step required?

Reader name: Longmai mToken CryptoIDA
ATR: 3B9F118131FE9F006A6D546F6B656E2D5000058190006A

[code]

[Smart card ATR parsing 3B9F118131FE9F006A6D546F6B656E2D5000058190006A](https://smartcard-atr.apdu.fr/parse?ATR=3B9F118131FE9F006A6D546F6B656E2D5000058

[2020-01-15 14:37] microshine commented on #273
@sefai Please see `~/.fortify/fortify.log` file. It includes information about adding providers to the Fortify server.

[2020-01-15 14:43] sefai commented on #273
@microshine I only have some logs in that file:

{"message":"Application started at Wed Jan 15 2020 17:41:18 GMT+0300 (GMT+03:00)","level":"info"}
{"message":"OS darwin x64 ","level":"info"}
{"message":"Fortify v1.0.21","level":"info"}
{"message":"System locale is 'en-US'","level":"info"}
{"message":"Locale: Set language to 'en'","level":"info"}
{"message":"Fortify: Create window index","level":"i

[2020-01-15 14:48] microshine commented on #273
There must be log like
[code]

[2020-01-15 14:50] sefai commented on #273
I also thought there must be a monitoring app and looked into your repos, saw that PSCSWatcher but it seems it is not working. How can I debug or diagnose that?

[2020-01-15 14:54] microshine commented on #273
It must work. Windows allows stopping PCSC service, in this case, Fortify logs error message that PCSC service is unavailable. Looks like your PCSC service works fine. Does Fortify ignore your token insertion/removing?

[2020-01-15 14:54] sefai commented on #273
I am on macOS Catalina 10.15.2.

[2020-01-17 08:59] craftbyte opened #274 "Add support for '3b1696417374726964' token"
Reader name: Gemalto USB Key Smart Card Reader 0
ATR: 3B1696417374726964

[code]

[Smart card ATR parsing 3B1696417374726964](https://smartcard-atr.apdu.fr/parse?ATR=3B1696417374726964)

[2020-01-17 08:59] craftbyte opened #275 "Add support for '3b7d96000080318065b0830201f383009000' token"
Reader name: OMNIKEY CardMan 3821 0
ATR: 3B7D96000080318065B0830201F383009000

[code]

[Smart card ATR parsing 3B7D96000080318065B0830201F383009000](https://smartcard-atr.apdu.fr/parse?ATR=3B7D96000080318065B0830201F383009000)

[2020-01-17 09:00] craftbyte commented on #274
It is a Gemalto .NET card (similar to MD).

[2020-01-17 09:06] craftbyte commented on #275
It is a Nexus Smart Card from HALCOM CA (Slovenia).

Link to Mac and Windows Installer:

https://nexus.halcom.com/Nexus/download/Personal_x64.msi
https://nexus.halcom.com/Nexus/download/Personal.dmg

[2020-01-17 13:16] ferikeem opened #276 "Add support for '3b7d96000080318065b0830201f383009000' token"
Reader name: BIT4ID miniLector EVO 0
ATR: 3B7D96000080318065B0830201F383009000

[code]

[Smart card ATR parsing 3B7D96000080318065B0830201F383009000](https://smartcard-atr.apdu.fr/parse?ATR=3B7D96000080318065B0830201F383009000)

[2020-01-17 16:28] rmhrisk commented on #274
Can you share the path and file name to where the PKCS11 is on your system?

[2020-01-17 16:30] rmhrisk commented on #276
Can you share the path and file name to where the PKCS11 for this device is on your system?

What is the make and model of this device?

[2020-01-17 16:31] rmhrisk commented on #275
Can you share the path and file name to where the PKCS11 for this device is on your system?

[2020-01-17 17:11] brunohelius commented on #249
Hi, i have the same problem here. @rmhrisk  is this problem solved?

[2020-01-17 20:12] microshine commented on #249
Sorry for the delay. I've published a new version of `cards.json@1.0.27`
Please restart Fortify application. It'll install the latest version of `cards.json`

[2020-01-17 20:39] microshine commented on #275
Please update your `~/.fortify/config.json` file and restart Fortify

Let me know if it works. I'll update and publish `cards.json`

[code]

[2020-01-17 21:21] craftbyte commented on #275
@microshine I don't have TrustEdgeID installed. I tried installing and no success.

Correct path is: C:\Program Files (x86)\Personal\bin64\personal64.dll for 64 bit and C:\Program Files (x86)\Personal\bin\personal.dll for 32 bit.

[2020-01-17 21:58] craftbyte commented on #274
here is a working config:
[code]

[2020-01-17 21:59] craftbyte commented on #275
here is a working config:
[code]

[2020-01-17 22:13] microshine commented on #274
I found other paths for this library
- Linux
  - x86
    - /usr/lib/libIDPrimePKCS11.so
  - x64
    - /usr/lib64/libIDPrimePKCS11.so
- OS X
  - /usr/local/lib/libidprimepkcs11.0.dylib
- Windows
  - x86
    - C:\Program Files (x86)\Gemalto\IDGo 800 PKCS#11\IDPrimePKCS11.dll
  - x64
    - C:\Program Files (x86)\Gemalto\IDGo 800 PKCS#11\IDPrimePKCS1164.dll

@craftbyte Do you have a possibility to che

[2020-01-17 23:39] mariocordero19 opened #277 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.appspot.com/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2020-01-17 23:47] rmhrisk commented on #247
Fixed

[2020-01-17 23:47] #247 closed

[2020-01-17 23:49] rmhrisk commented on #277
@mariocordero19 can you look at https://github.com/PeculiarVentures/fortify/issues/248 and see if those changes work for you?

Closing this as dupe of that issue

[2020-01-17 23:51] rmhrisk commented on #277
Sorry, @mariocordero19 can you tell us more about this device? this issue appears to be dupe of https://github.com/PeculiarVentures/fortify/issues/237 so I am closing this bug; please comment in there.

[2020-01-17 23:51] #277 closed

[2020-01-17 23:52] rmhrisk commented on #237
Closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2020-01-17 23:52] #237 closed

[2020-01-17 23:58] rmhrisk commented on #274
Looks like this is the JSON to try?

[code]

[2020-01-18 02:01] rmhrisk commented on #275
It looks like the correct configuration file is:

[code]

@craftbyte can you verify this works for you?

As an aside, it seems this same token is being used with pkcs11js: https://github.com/PeculiarVentures/pkcs11js/issues/57

[2020-01-18 04:11] jpmoraa opened #278 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.apdu.fr/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2020-01-18 04:22] jpmoraa opened #279 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.apdu.fr/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2020-01-18 05:32] rmhrisk commented on #279
Closing as a dupe of https://github.com/PeculiarVentures/fortify/issues/278

[2020-01-18 05:34] rmhrisk commented on #279
Can you tell me more about the device? It’s make, model and the fully qualified path to the PKCS11 you use with this.

[2020-01-18 05:34] #279 closed

[2020-01-18 05:35] rmhrisk commented on #278
Can you tell me more about the device? It’s make, model and the fully qualified path to the PKCS11 you use with this.

[2020-01-18 05:50] jpmoraa opened #280 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.apdu.fr/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2020-01-18 07:21] rmhrisk commented on #280
Can you share some information about this device?

What make and model?

What is the fully qualified path and file name of the PKCS11 that you use with it?

[2020-01-18 07:23] rmhrisk commented on #280
Closing as dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2020-01-18 07:23] #280 closed

[2020-01-18 16:10] craftbyte commented on #275
Yes, a Slovenian CA (HALCOM) is issuing their certs on these cards. Looking at that issue it seems like me and Matej both have the same CA.

There is a typo in Personal.

I can confirm for Windows, but will also check on Mac once I get back into the office.

[2020-01-18 16:11] craftbyte commented on #274
Since I see you guys are using %PROGRAMFILES I would just replace that on windows, otherwise looks ok.

[2020-01-18 19:59] Arsca opened #281 "Add support for '3bf81300008131fe15597562696b657934d4' token"
Reader name: Yubico YubiKey OTP+FIDO+CCID
ATR: 3BF81300008131FE15597562696B657934D4

[code]

[Smart card ATR parsing 3BF81300008131FE15597562696B657934D4](https://smartcard-atr.apdu.fr/parse?ATR=3BF81300008131FE15597562696B657934D4)

[2020-01-18 20:14] rmhrisk commented on #281
This appears to be a Yubico Yubikey 4 OTP+CCID.

@microshine please add this to the ATR map to the Yubikey configuration.

[2020-01-18 20:18] rmhrisk commented on #274
@microshine please add to cards.json

[2020-01-18 20:19] rmhrisk commented on #275
@microshine please add to cards.json

[2020-01-19 04:56] rodolfoleal commented on #249
@microshine it doesnt worked,

The card.json file has the driver atr that matchs the pcsc but for some reason fortify keeps saying that the smartcard was not reconized. I updated fortify version and also deleted the .fortify folder

error:
![image](https://user-images.githubusercontent.com/7906817/72675104-5116b180-3a5e-11ea-9d84-e22604ed3a62.png)

cards file entries:
cards:
[code]
drivers:
[code]

[2020-01-19 07:47] rmhrisk commented on #249
Can you provide the associated Fortify log?

[2020-01-19 20:35] jesh-top opened #283 "Add support for '3bdc18ff8091fe1fc38073c8211366010b0352000539' token"
Reader name: Athena ASEDrive CCID 0
ATR: 3BDC18FF8091FE1FC38073C8211366010B0352000539

[code]

[Smart card ATR parsing 3BDC18FF8091FE1FC38073C8211366010B0352000539](https://smartcard-atr.apdu.fr/parse?ATR=3BDC18FF8091FE1FC38073C8211366010B0352000539)

[2020-01-19 22:12] rmhrisk commented on #283
Dupe of https://github.com/PeculiarVentures/fortify/issues/173

[2020-01-19 22:14] #283 closed

[2020-01-20 03:10] rodolfoleal commented on #249
There it is @rmhrisk ,

Two things caught my attention, the json parse error and the ATR of device be all zeros.

Best regards

[code]

[2020-01-20 04:12] rmhrisk commented on #249
Can you paste the card.json on your machine here?

[2020-01-20 04:21] rodolfoleal commented on #249
There it is.

[code]

[2020-01-20 08:28] rmhrisk commented on #249
Strange, that seems valid to me. I’m not sure why your seeing this. Could you try to uninstall and reinstall? Maybe it’s permissions?

[2020-01-20 12:42] ferikeem commented on #276
Hello @rmhrisk,

the path is probably this: `%PROGRAMFILES(X86)/Gemalto/Classic Client/BIN/gclib.dll`.
The card's processor is a Gemalto IDClassic 340, reader is a Bit4Id miniLector Evo 0.
I tried to add the following to card.json:
`	{
		"atr": "3B7D96000080318065B0830201F383009000",
		"name": "Classic TPC",
      	        "readOnly": true,
		"driver": "71789068c5ff4891aeeaf7fb9608a22f"
	},`
but F

[2020-01-20 16:08] microshine commented on #249
@ekiametis Please restart your Fortify and try again. I published bad card.json file. I updated `cards.json` to v1.0.28

[2020-01-21 10:16] ferikeem commented on #276
It works now, here's what I did (maybe this helps others):
I uninstalled the card's driver, then installed it again. [This](https://data-protection-updates.gemalto.com/wp-includes/ms-files.php?file=2015/05/007-012974-001_SafeNet_Authentication_Client_Minidriver-9-0_CRN_Revision-.pdf) pdf helped me resolve the driver issue.

Windows (Device manager) and Fortify both see the card fine (signing is ye

[2020-01-21 10:19] rodolfoleal commented on #249
@microshine now it works

![image](https://user-images.githubusercontent.com/7906817/72796532-3c811780-3c1e-11ea-8f9a-29f6aae69bd4.png)

Thanks a lot @rmhrisk and @microshine

[2020-01-21 20:57] donskov commented on #38
Link removed

[2020-01-21 20:57] #38 closed

[2020-01-22 01:19] #249 closed

[2020-01-22 07:52] microshine commented on #276
@ferikeem I updated `cards.json` to v1.0.29. It includes your ATR.

About error in a log file. As you can see from `cards.json` a driver can have a list of libraries. In this case, Fortify tries to load libraries one by one and if PKCS#11 library throws an exception on load Fortify logs it.
This is why you can see error log for x86 library

[2020-01-22 07:53] #276 closed

[2020-01-22 08:20] microshine commented on #281
It's already in `cards.json`.

There was a problem with `cards.json` file parsing in v1.0.27 which was fixed in v1.0.28.

[2020-01-22 08:20] #281 closed

[2020-01-22 08:27] #173 closed

[2020-01-22 08:53] microshine commented on #268
Fixed in `cards.json@1.0.30`

Please restart Fortify application to update `cards.json`

[2020-01-22 08:53] #268 closed

[2020-01-22 08:53] microshine commented on #274
Fixed in `cards.json@1.0.30`

Please restart Fortify application to update `cards.json`

[2020-01-22 08:53] #274 closed

[2020-01-22 08:53] microshine commented on #275
Fixed in `cards.json@1.0.30`

Please restart Fortify application to update `cards.json`

[2020-01-22 08:53] #275 closed

[2020-01-22 08:53] microshine commented on #248
Fixed in `cards.json@1.0.30`

Please restart Fortify application to update `cards.json`

[2020-01-22 08:53] #248 closed

[2020-01-23 10:52] vanbroup opened #284 "Publish Fortify APP in Windows Store"
It would be great if Fortify could be published in the Windows Store, this would make it easier to distrubute and automatically update the installation using Microsoft Intune on client machines.

See also:
https://www.electronjs.org/docs/tutorial/windows-store-guide

[2020-01-23 14:55] rmhrisk commented on #284
We will consider it.

[2020-01-24 09:57] vanbroup opened #285 "Add support for '3bff1800008131fe4d8025a00000005657444b3430300600dd' token"
Reader name: Rainbow Technologies iKeyVirtualReader 0
ATR: 3BFF1800008131FE4D8025A00000005657444B3430300600DD

[code]

[Smart card ATR parsing 3BFF1800008131FE4D8025A00000005657444B3430300600DD](https://smartcard-atr.apdu.fr/parse?ATR=3BFF1800008131FE4D8025A00000005657444B3430300600DD)

[code]

[2020-01-24 09:58] vanbroup opened #286 "CKR_FUNCTION_FAILED with SafeNet iKey 5100"
When creating a new Certificate Request or Self-Signed Certificate using the Fortify Tools on a SafeNet iKey 5100 the following error prevents the key from being created.

[code]

[code]

Signing using Fortify works fine.